workflows/inbox-knowledge-indexing.json
{
  "id": "InboxKnowledgeIndexing01",
  "name": "Inbox — Knowledge Indexing",
  "nodes": [
    {
      "parameters": {"inputSource": "passthrough"},
      "id": "2ad5f721-d44d-4a4d-a1c0-1aeff9f13310",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-940, -120]
    },
    {
      "parameters": {},
      "id": "df6324e4-b7c3-4a53-a6e0-e5a50f80bb25",
      "name": "Manual Test Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-940, 100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH candidate AS (\n  SELECT id\n  FROM inbox.processing_jobs\n  WHERE job_type = 'index'\n    AND status IN ('pending', 'failed')\n    AND attempts < max_attempts\n    AND run_after <= now()\n    AND (nullif($1::text, '') IS NULL OR inbox_item_id = nullif($1::text, '')::uuid)\n  ORDER BY created_at\n  LIMIT 1\n  FOR UPDATE SKIP LOCKED\n),\nclaimed AS (\n  UPDATE inbox.processing_jobs AS jobs\n  SET status = 'running',\n      attempts = jobs.attempts + 1,\n      locked_at = now(),\n      locked_by = 'n8n:knowledge-indexing',\n      last_error = NULL\n  FROM candidate\n  WHERE jobs.id = candidate.id\n  RETURNING jobs.*\n)\nSELECT\n  id::text AS job_id,\n  inbox_item_id::text AS inbox_item_id,\n  attempts,\n  max_attempts\nFROM claimed;",
        "options": {
          "queryReplacement": "={{ [ $json.inbox_item_id || $json.item_id || '' ] }}",
          "queryBatching": "independently"
        }
      },
      "id": "80b65f01-e0dc-421d-8893-c491c33069cf",
      "name": "Claim Index Job",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-700, 0],
      "credentials": {"postgres": {"id": "384ec057-10f8-41b5-9d1b-f587c652e358", "name": "Inbox Agent PostgreSQL"}}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  $1::uuid::text AS job_id,\n  knowledge.id::text AS knowledge_item_id,\n  knowledge.inbox_item_id::text AS inbox_item_id,\n  knowledge.user_id::text AS user_id,\n  knowledge.title,\n  knowledge.summary,\n  knowledge.content,\n  knowledge.language,\n  knowledge.source_url,\n  knowledge.metadata,\n  inbox_item.content_type,\n  attachment.original_name AS file_name,\n  attachment.mime_type,\n  projects.name AS project,\n  categories.name AS category,\n  item_types.name AS item_type,\n  priorities.name AS priority,\n  COALESCE(jsonb_agg(tags.name ORDER BY tags.name) FILTER (WHERE tags.id IS NOT NULL), '[]'::jsonb) AS tags\nFROM inbox.knowledge_items AS knowledge\nJOIN inbox.inbox_items AS inbox_item ON inbox_item.id = knowledge.inbox_item_id\nLEFT JOIN LATERAL (\n  SELECT original_name, mime_type\n  FROM inbox.attachments\n  WHERE inbox_item_id = knowledge.inbox_item_id\n  ORDER BY created_at\n  LIMIT 1\n) AS attachment ON true\nLEFT JOIN inbox.projects ON projects.id = knowledge.project_id\nLEFT JOIN inbox.categories ON categories.id = knowledge.category_id\nLEFT JOIN inbox.item_types ON item_types.id = knowledge.item_type_id\nLEFT JOIN inbox.priorities ON priorities.id = knowledge.priority_id\nLEFT JOIN inbox.knowledge_item_tags AS item_tags ON item_tags.knowledge_item_id = knowledge.id\nLEFT JOIN inbox.tags ON tags.id = item_tags.tag_id\nWHERE knowledge.inbox_item_id = $2::uuid\nGROUP BY knowledge.id, inbox_item.content_type, attachment.original_name, attachment.mime_type, projects.name, categories.name, item_types.name, priorities.name;",
        "options": {
          "queryReplacement": "={{ [ $json.job_id, $json.inbox_item_id ] }}",
          "queryBatching": "independently"
        }
      },
      "id": "a7361740-a383-4cec-8566-a98ae7536fd0",
      "name": "Load Knowledge Item",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 3000,
      "position": [-460, 0],
      "credentials": {"postgres": {"id": "384ec057-10f8-41b5-9d1b-f587c652e358", "name": "Inbox Agent PostgreSQL"}}
    },
    {
      "parameters": {
        "jsCode": "const source = $json;\nconst keyPoints = Array.isArray(source.metadata?.key_points) ? source.metadata.key_points : [];\nconst ukrainianAnalysis = [\n  source.summary ? `Українське резюме: ${source.summary}` : '',\n  keyPoints.length ? `Ключові моменти українською:\\n${keyPoints.map((point) => `- ${point}`).join('\\n')}` : ''\n].filter(Boolean).join('\\n\\n');\nconst body = [ukrainianAnalysis, String(source.content || source.summary || source.title || '').trim()].filter(Boolean).join('\\n\\n');\nconst chunkSize = 900;\nconst overlap = 150;\nconst chunks = [];\nlet start = 0;\n\nwhile (start < body.length) {\n  let end = Math.min(start + chunkSize, body.length);\n  if (end < body.length) {\n    const breakAt = Math.max(body.lastIndexOf('\\n', end), body.lastIndexOf(' ', end));\n    if (breakAt > start + Math.floor(chunkSize * 0.6)) end = breakAt;\n  }\n  const part = body.slice(start, end).trim();\n  if (part) chunks.push(part);\n  if (end >= body.length) break;\n  start = Math.max(end - overlap, start + 1);\n}\n\nif (chunks.length === 0) chunks.push(String(source.title || 'Untitled'));\n\nreturn chunks.map((part, chunkIndex) => ({ json: {\n  ...source,\n  chunk_index: chunkIndex,\n  chunk_count: chunks.length,\n  chunk_content: [\n    `Title: ${source.title}`,\n    source.summary ? `Summary: ${source.summary}` : '',\n    `Content: ${part}`\n  ].filter(Boolean).join('\\n')\n} }));"
      },
      "id": "a1d7f47b-780f-49f9-80fe-08393a324209",
      "name": "Create Chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-210, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO inbox.knowledge_chunks (knowledge_item_id, chunk_index, content, token_count, metadata)\nVALUES (\n  $1::uuid, $2::integer, $3, CEIL(length($3) / 4.0)::integer,\n  jsonb_build_object(\n    'user_id', $4::text,\n    'inbox_item_id', $5::text,\n    'project', $6::text,\n    'category', $7::text,\n    'item_type', $8::text,\n    'priority', $9::text,\n    'language', $10::text,\n    'source_url', nullif($11::text, ''),\n    'content_type', $12::text,\n    'file_name', nullif($13::text, ''),\n    'mime_type', nullif($14::text, ''),\n    'tags', $15::jsonb\n  )\n)\nON CONFLICT (knowledge_item_id, chunk_index) DO UPDATE SET\n  content = EXCLUDED.content,\n  token_count = EXCLUDED.token_count,\n  metadata = EXCLUDED.metadata\nRETURNING\n  id::text AS chunk_id,\n  knowledge_item_id::text AS knowledge_item_id,\n  $16::uuid::text AS job_id,\n  $5::text AS inbox_item_id,\n  $4::text AS user_id,\n  $2::integer AS chunk_index,\n  $17::integer AS chunk_count,\n  content,\n  $18::text AS title,\n  $6::text AS project,\n  $7::text AS category,\n  $8::text AS item_type,\n  $9::text AS priority,\n  $10::text AS language,\n  nullif($11::text, '') AS source_url,\n  $12::text AS content_type,\n  nullif($13::text, '') AS file_name,\n  nullif($14::text, '') AS mime_type,\n  $15::jsonb AS tags;",
        "options": {
          "queryReplacement": "={{ [ $json.knowledge_item_id, $json.chunk_index, $json.chunk_content, $json.user_id, $json.inbox_item_id, $json.project || 'Other', $json.category || 'Other', $json.item_type || 'Idea', $json.priority || 'Medium', $json.language || 'uk', $json.source_url || '', $json.content_type || '', $json.file_name || '', $json.mime_type || '', JSON.stringify($json.tags || []), $json.job_id, $json.chunk_count, $json.title ] }}",
          "queryBatching": "independently"
        }
      },
      "id": "cc1f519d-acb3-49e3-a4a9-90c23462ddfd",
      "name": "Persist Chunks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 3000,
      "position": [40, 0],
      "credentials": {"postgres": {"id": "384ec057-10f8-41b5-9d1b-f587c652e358", "name": "Inbox Agent PostgreSQL"}}
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {"__rl": true, "value": "inbox_memory", "mode": "list", "cachedResultName": "inbox_memory"},
        "embeddingBatchSize": 100,
        "options": {"contentPayloadKey": "content", "metadataPayloadKey": "metadata"}
      },
      "id": "4716dd76-14ed-431b-b699-37ae1f2ca241",
      "name": "Index in Qdrant",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 5000,
      "position": [310, 0],
      "credentials": {"qdrantApi": {"id": "1300f473-db92-43ce-b7b5-4ca77738d433", "name": "Inbox Agent Qdrant"}}
    },
    {
      "parameters": {"modelName": "models/gemini-embedding-001"},
      "id": "220fd24e-a579-43f9-83d8-9a9b1d69e58b",
      "name": "Gemini Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [230, 240],
      "credentials": {"googlePalmApi": {"id": "xWUoG184a9kWLGEL", "name": "Google Gemini(PaLM) Api account"}}
    },
    {
      "parameters": {
        "dataType": "json",
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "textSplittingMode": "simple",
        "options": {
          "metadata": {
            "metadataValues": [
              {"name": "chunk_id", "value": "={{ $json.chunk_id }}"},
              {"name": "knowledge_item_id", "value": "={{ $json.knowledge_item_id }}"},
              {"name": "inbox_item_id", "value": "={{ $json.inbox_item_id }}"},
              {"name": "user_id", "value": "={{ $json.user_id }}"},
              {"name": "chunk_index", "value": "={{ $json.chunk_index }}"},
              {"name": "title", "value": "={{ $json.title }}"},
              {"name": "project", "value": "={{ $json.project }}"},
              {"name": "category", "value": "={{ $json.category }}"},
              {"name": "item_type", "value": "={{ $json.item_type }}"},
              {"name": "priority", "value": "={{ $json.priority }}"},
              {"name": "language", "value": "={{ $json.language }}"},
              {"name": "source_url", "value": "={{ $json.source_url || '' }}"},
              {"name": "content_type", "value": "={{ $json.content_type || '' }}"},
              {"name": "file_name", "value": "={{ $json.file_name || '' }}"},
              {"name": "mime_type", "value": "={{ $json.mime_type || '' }}"},
              {"name": "tags", "value": "={{ JSON.stringify($json.tags || []) }}"}
            ]
          }
        }
      },
      "id": "f197a67c-bc4a-46b2-95a8-c76afbb7854e",
      "name": "Load Chunk Document",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [430, 240]
    },
    {
      "parameters": {
        "jsCode": "const indexed = $input.all();\nconst first = $('Persist Chunks').first().json;\nreturn [{ json: {\n  job_id: first.job_id,\n  inbox_item_id: first.inbox_item_id,\n  knowledge_item_id: first.knowledge_item_id,\n  chunk_count: Number(first.chunk_count || indexed.length),\n  indexed_documents: indexed.length\n} }];"
      },
      "id": "794ba2bd-b622-4c77-8949-bfc9ccdcf247",
      "name": "Summarize Indexing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [580, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH removed_stale AS (\n  DELETE FROM inbox.knowledge_chunks\n  WHERE knowledge_item_id = $2::uuid\n    AND chunk_index >= $3::integer\n  RETURNING id\n),\ncompleted AS (\n  UPDATE inbox.processing_jobs\n  SET status = 'completed',\n      locked_at = NULL,\n      locked_by = NULL,\n      last_error = NULL\n  WHERE id = $1::uuid\n  RETURNING id\n),\nitem_ready AS (\n  UPDATE inbox.inbox_items\n  SET status = 'ready',\n      processed_at = coalesce(processed_at, now()),\n      error_code = NULL,\n      error_message = NULL\n  WHERE id = $4::uuid\n    AND EXISTS (SELECT 1 FROM completed)\n  RETURNING id\n)\nSELECT\n  $2::uuid::text AS knowledge_item_id,\n  $4::uuid::text AS inbox_item_id,\n  $3::integer AS chunk_count,\n  $5::integer AS indexed_documents,\n  EXISTS (SELECT 1 FROM completed) AS job_completed,\n  EXISTS (SELECT 1 FROM item_ready) AS item_ready,\n  (SELECT count(*) FROM removed_stale) AS stale_chunks_removed;",
        "options": {
          "queryReplacement": "={{ [ $json.job_id, $json.knowledge_item_id, $json.chunk_count, $json.inbox_item_id, $json.indexed_documents ] }}",
          "queryBatching": "independently"
        }
      },
      "id": "855f5cd1-c7b1-443b-93ea-c85e39c4f06f",
      "name": "Complete Index Job",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 3000,
      "position": [830, 0],
      "credentials": {"postgres": {"id": "384ec057-10f8-41b5-9d1b-f587c652e358", "name": "Inbox Agent PostgreSQL"}}
    },
    {
      "parameters": {
        "operation": "call_workflow",
        "source": "database",
        "workflowId": {"__rl": true, "value": "InboxRelationBuilder01", "mode": "list", "cachedResultName": "Inbox — Automatic Relation Builder"},
        "workflowInputs": {"mappingMode": "defineBelow", "value": {}, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true},
        "mode": "each",
        "options": {"waitForSubWorkflow": false}
      },
      "id": "db29d70e-8e88-4a75-827a-14ebd2ce9226",
      "name": "Start Relation Builder",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [1070, 0]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {"main": [[{"node": "Claim Index Job", "type": "main", "index": 0}]]},
    "Manual Test Trigger": {"main": [[{"node": "Claim Index Job", "type": "main", "index": 0}]]},
    "Claim Index Job": {"main": [[{"node": "Load Knowledge Item", "type": "main", "index": 0}]]},
    "Load Knowledge Item": {"main": [[{"node": "Create Chunks", "type": "main", "index": 0}]]},
    "Create Chunks": {"main": [[{"node": "Persist Chunks", "type": "main", "index": 0}]]},
    "Persist Chunks": {"main": [[{"node": "Index in Qdrant", "type": "main", "index": 0}]]},
    "Gemini Embeddings": {"ai_embedding": [[{"node": "Index in Qdrant", "type": "ai_embedding", "index": 0}]]},
    "Load Chunk Document": {"ai_document": [[{"node": "Index in Qdrant", "type": "ai_document", "index": 0}]]},
    "Index in Qdrant": {"main": [[{"node": "Summarize Indexing", "type": "main", "index": 0}]]},
    "Summarize Indexing": {"main": [[{"node": "Complete Index Job", "type": "main", "index": 0}]]},
    "Complete Index Job": {"main": [[{"node": "Start Relation Builder", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "versionId": "7dcc0856-67c5-407c-bb25-6604db183393",
  "meta": {"templateCredsSetupCompleted": true},
  "tags": []
}
