workflows/inbox-maintenance.json
{
  "id": "InboxMaintenance01",
  "name": "Inbox — Recovery and Monitoring",
  "nodes": [
    {
      "parameters": {"rule": {"interval": [{"field": "minutes", "minutesInterval": 5}]}},
      "id": "390c6072-f8f9-478d-8284-acde2b92a558",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-620, -80]
    },
    {
      "parameters": {},
      "id": "b449b190-18ba-4b4d-9339-1a2b9467419d",
      "name": "Manual Recovery Test",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-620, 100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH stale_jobs AS (\n  UPDATE inbox.processing_jobs\n  SET status = 'failed',\n      run_after = now(),\n      locked_at = NULL,\n      locked_by = NULL,\n      last_error = COALESCE(last_error, 'Recovered stale running job')\n  WHERE status = 'running'\n    AND locked_at < now() - interval '15 minutes'\n  RETURNING id\n),\nexhausted_jobs AS (\n  UPDATE inbox.processing_jobs\n  SET status = 'cancelled',\n      locked_at = NULL,\n      locked_by = NULL,\n      last_error = COALESCE(last_error, 'Maximum retry attempts reached')\n  WHERE status IN ('pending', 'failed')\n    AND attempts >= max_attempts\n  RETURNING id\n),\nstale_items AS (\n  UPDATE inbox.inbox_items\n  SET status = 'received',\n      retry_count = retry_count + 1,\n      error_code = 'STALE_ANALYSIS_RECOVERED',\n      error_message = 'Recovered by maintenance workflow'\n  WHERE status = 'analyzing'\n    AND updated_at < now() - interval '15 minutes'\n    AND retry_count < 4\n  RETURNING id\n),\nanalysis_candidate AS (\n  SELECT items.id\n  FROM inbox.inbox_items AS items\n  WHERE items.status IN ('received', 'failed')\n    AND items.normalized_text IS NOT NULL\n    AND items.retry_count < 4\n    AND NOT EXISTS (SELECT 1 FROM inbox.knowledge_items knowledge WHERE knowledge.inbox_item_id = items.id)\n  ORDER BY items.received_at\n  LIMIT 1\n),\nindex_candidate AS (\n  SELECT jobs.inbox_item_id\n  FROM inbox.processing_jobs AS jobs\n  WHERE jobs.job_type = 'index'\n    AND jobs.status IN ('pending', 'failed')\n    AND jobs.attempts < jobs.max_attempts\n    AND jobs.run_after <= now()\n  ORDER BY jobs.created_at\n  LIMIT 1\n),\nowner AS (\n  SELECT telegram_user_id::text AS chat_id\n  FROM inbox.users\n  WHERE status = 'active' AND telegram_user_id IS NOT NULL\n  ORDER BY created_at\n  LIMIT 1\n)\nSELECT\n  COALESCE((SELECT id::text FROM analysis_candidate), '') AS analysis_item_id,\n  COALESCE((SELECT inbox_item_id::text FROM index_candidate), '') AS index_inbox_item_id,\n  COALESCE((SELECT chat_id FROM owner), '') AS alert_chat_id,\n  (SELECT count(*) FROM stale_jobs) AS stale_jobs_recovered,\n  (SELECT count(*) FROM stale_items) AS stale_items_recovered,\n  (SELECT count(*) FROM exhausted_jobs) AS jobs_cancelled;",
        "options": {"queryBatching": "independently"}
      },
      "id": "20e61ca9-b9cb-4943-ad09-88050fb45ce2",
      "name": "Recover and Inspect Queues",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 3000,
      "position": [-360, 0],
      "credentials": {"postgres": {"id": "384ec057-10f8-41b5-9d1b-f587c652e358", "name": "Inbox Agent PostgreSQL"}}
    },
    {
      "parameters": {"jsCode": "if (!$json.analysis_item_id) return [];\nreturn [{ json: { item_id: $json.analysis_item_id } }];"},
      "id": "01afe322-3a72-42ba-b3b6-1426ee1d1757",
      "name": "Queue Analysis Retry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-100, -140]
    },
    {
      "parameters": {"jsCode": "if (!$json.index_inbox_item_id) return [];\nreturn [{ json: { inbox_item_id: $json.index_inbox_item_id } }];"},
      "id": "81ac3ab7-d4ab-47ad-93bd-36ef1f259476",
      "name": "Queue Index Retry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-100, 0]
    },
    {
      "parameters": {
        "jsCode": "const staleJobs = Number($json.stale_jobs_recovered || 0);\nconst staleItems = Number($json.stale_items_recovered || 0);\nconst cancelled = Number($json.jobs_cancelled || 0);\nif (!cancelled || !$json.alert_chat_id) return [];\nreturn [{ json: {\n  chat_id: $json.alert_chat_id,\n  text: `⚠️ Inbox Agent: ${cancelled} job(s) зупинено після вичерпання повторних спроб. Відновлено stale jobs: ${staleJobs}, stale items: ${staleItems}.`\n} }];"
      },
      "id": "f589c966-3b6a-4834-8344-3f3c4b4d5eca",
      "name": "Prepare Failure Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-100, 140]
    },
    {
      "parameters": {
        "operation": "call_workflow",
        "source": "database",
        "workflowId": {"__rl": true, "value": "InboxAiClassification01", "mode": "list", "cachedResultName": "Inbox — AI Classification"},
        "workflowInputs": {"mappingMode": "defineBelow", "value": {}, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true},
        "mode": "each",
        "options": {"waitForSubWorkflow": false}
      },
      "id": "a08be2fb-c846-468d-9800-9812e5bfded2",
      "name": "Retry AI Classification",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [170, -140]
    },
    {
      "parameters": {
        "operation": "call_workflow",
        "source": "database",
        "workflowId": {"__rl": true, "value": "InboxKnowledgeIndexing01", "mode": "list", "cachedResultName": "Inbox — Knowledge Indexing"},
        "workflowInputs": {"mappingMode": "defineBelow", "value": {}, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true},
        "mode": "each",
        "options": {"waitForSubWorkflow": false}
      },
      "id": "0f38a0ea-bfc8-419e-91b1-8a1a89e0a077",
      "name": "Retry Knowledge Indexing",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [170, 0]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {"parse_mode": "HTML", "appendAttribution": false}
      },
      "id": "d5cb184f-f26c-4891-8fb9-293d664dd07f",
      "name": "Send Failure Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [170, 140],
      "credentials": {"telegramApi": {"id": "iIA8c9213PIlR1Zm", "name": "Telegram account"}}
    }
  ],
  "connections": {
    "Every 5 Minutes": {"main": [[{"node": "Recover and Inspect Queues", "type": "main", "index": 0}]]},
    "Manual Recovery Test": {"main": [[{"node": "Recover and Inspect Queues", "type": "main", "index": 0}]]},
    "Recover and Inspect Queues": {"main": [[
      {"node": "Queue Analysis Retry", "type": "main", "index": 0},
      {"node": "Queue Index Retry", "type": "main", "index": 0},
      {"node": "Prepare Failure Alert", "type": "main", "index": 0}
    ]]},
    "Queue Analysis Retry": {"main": [[{"node": "Retry AI Classification", "type": "main", "index": 0}]]},
    "Queue Index Retry": {"main": [[{"node": "Retry Knowledge Indexing", "type": "main", "index": 0}]]},
    "Prepare Failure Alert": {"main": [[{"node": "Send Failure Alert", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "versionId": "0d4326a4-61be-4223-bf10-9f96ff0ab464",
  "meta": {"templateCredsSetupCompleted": true},
  "tags": []
}
