workflows/inbox-memory-management.json
{
  "id": "InboxMemoryManagement01",
  "name": "Inbox — Telegram Memory Management",
  "nodes": [
    {
      "parameters": {"inputSource": "passthrough"},
      "id": "7c0e8d5a-a5f3-4271-8aae-7cad5c0c1b3e",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-980, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH access_result AS (\n  SELECT inbox.execute_knowledge_access_command($1::bigint, $2::text, $3::text) AS result\n), relation_result AS (\n  SELECT inbox.execute_relation_command($1::bigint, $2::text, $3::text) AS result\n), command_result AS (\n  SELECT CASE\n    WHEN access_result.result->>'route' <> 'delegate' THEN access_result.result\n    WHEN relation_result.result->>'route' <> 'delegate' THEN relation_result.result\n    WHEN lower($2::text) IN ('review', 'edit', 'unarchive', 'related')\n      THEN inbox.execute_knowledge_curation_command($1::bigint, $2::text, $3::text)\n    ELSE inbox.execute_memory_command($1::bigint, $2::text, $3::text)\n  END AS result\n  FROM access_result CROSS JOIN relation_result\n)\nSELECT CASE\n  WHEN lower($2::text) IN ('memory', 'review', 'edit', 'unarchive', 'related', 'duplicates', 'graph', 'file', 'download', 'merge')\n    AND result->>'route' = 'direct'\n    THEN result || jsonb_build_object('route', 'curation_direct')\n  ELSE result\nEND AS result, $4::text AS chat_id\nFROM command_result;",
        "options": {
          "queryReplacement": "={{ [ $json.telegram_user_id, $json.management_command || '', $json.management_argument || '', $json.source_chat_id ] }}",
          "queryBatching": "independently"
        }
      },
      "id": "0c1a36d1-7137-4b88-b8c7-2fb958b73cc7",
      "name": "Execute Memory Command",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-750, 0],
      "credentials": {"postgres": {"id": "384ec057-10f8-41b5-9d1b-f587c652e358", "name": "Inbox Agent PostgreSQL"}}
    },
    {
      "parameters": {
        "jsCode": "let result = $json.result || {};\nif (typeof result === 'string') { try { result = JSON.parse(result); } catch { result = {}; } }\nreturn [{ json: { ...result, chat_id: String($json.chat_id || '') } }];"
      },
      "id": "e9fe219a-3df1-48ef-9a44-bbaf8402b48b",
      "name": "Normalize Command Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-520, 0]
    },
    {
      "parameters": {
        "jsCode": "if ($json.route !== 'direct') return [];\nconst e = (value) => String(value ?? '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\"/g, '&quot;');\nconst status = String($json.status || 'help');\nlet reply = '';\nif (status === 'recent') {\n  const items = Array.isArray($json.items) ? $json.items : [];\n  reply = items.length ? `<b>Останні записи</b>\n\n${items.map((item) => `${item.is_archived ? '📦' : '•'} <code>${e(item.short_id)}</code> — ${e(item.title)}\n  ${e(item.content_type)} · ${e(item.status)}`).join('\\n\\n')}` : 'Пам’ять поки порожня.';\n} else if (status === 'show') {\n  const item = $json.item || {};\n  const tags = Array.isArray(item.tags) ? item.tags : [];\n  const files = Array.isArray(item.attachments) ? item.attachments : [];\n  reply = `<b>${e(item.title)}</b>\n<code>${e(item.short_id)}</code>${item.is_archived ? ' · 📦 архів' : ''}\n\n${e(item.summary)}\n\n<b>Проєкт:</b> ${e(item.project)}\n<b>Категорія:</b> ${e(item.category)}\n<b>Тип:</b> ${e(item.item_type)}\n<b>Пріоритет:</b> ${e(item.priority)}\n<b>Статус:</b> ${e(item.status)}${tags.length ? `\n<b>Теги:</b> ${tags.map(e).join(', ')}` : ''}${files.length ? `\n<b>Файли:</b> ${files.map(e).join(', ')}` : ''}${item.source_url ? `\n<b>Джерело:</b> ${e(item.source_url)}` : ''}`;\n} else if (status === 'archived') {\n  reply = `📦 Запис <code>${e($json.short_id)}</code> переміщено в архів.\n${e($json.title)}`;\n} else if (status === 'delete_confirmation') {\n  reply = `⚠️ <b>Підтвердження видалення</b>\n\n<code>${e($json.short_id)}</code> — ${e($json.title)}\n\nЦе видалить запис із PostgreSQL, його вектори з Qdrant і окремий файл із B2, якщо на нього немає інших посилань.\n\nПідтвердити протягом ${Number($json.expires_minutes || 10)} хвилин:\n<code>/confirm ${e($json.token)}</code>\n\nСкасувати:\n<code>/cancel ${e($json.token)}</code>`;\n} else if (status === 'cancelled') {\n  reply = '✅ Видалення скасовано.';\n} else if (status === 'unauthorized') {\n  reply = '⛔ Цей Telegram-користувач не має доступу до пам’яті.';\n} else if (status === 'token_required') {\n  reply = 'Вкажіть код підтвердження: <code>/confirm КОД</code> або <code>/cancel КОД</code>.';\n} else if (status === 'action_not_found') {\n  reply = 'Код підтвердження не знайдено.';\n} else if (status === 'action_not_pending') {\n  reply = 'Ця дія вже виконана, скасована або її код прострочений.';\n} else if (status === 'item_id_required') {\n  reply = 'Вкажіть щонайменше 6 символів ID запису. Отримати ID: <code>/recent</code>.';\n} else if (status === 'item_not_found') {\n  reply = 'Запис із таким ID не знайдено.';\n} else if (status === 'item_id_ambiguous') {\n  reply = 'Цей фрагмент ID неоднозначний — вкажіть більше символів.';\n} else {\n  reply = `<b>Керування пам’яттю</b>\n\n<code>/recent</code> — останні 10 записів\n<code>/show ID</code> — деталі запису\n<code>/archive ID</code> — перемістити в архів\n<code>/reindex ID</code> — перебудувати RAG-індекс\n<code>/delete ID</code> — підготувати безпечне видалення\n<code>/confirm КОД</code> — підтвердити видалення\n<code>/cancel КОД</code> — скасувати видалення`;\n}\nreturn [{ json: { chat_id: $json.chat_id, reply } }];"
      },
      "id": "e705e349-0d2e-49c3-bbe8-1198f6b1abdc",
      "name": "Prepare Direct Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-270, -260]
    },
    {
      "parameters": {
        "jsCode": "if ($json.route !== 'curation_direct') return [];\nconst e = (value) => String(value ?? '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\"/g, '&quot;');\nconst status = String($json.status || 'help');\nlet reply = '';\nif (status === 'review') {\n  const items = Array.isArray($json.items) ? $json.items : [];\n  reply = items.length ? `<b>Черга перевірки</b>\n\n${items.map((item) => `• <code>${e(item.short_id)}</code> — ${e(item.title)}\n  ${e((Array.isArray(item.reasons) ? item.reasons : []).join(', '))}`).join('\\n\\n')}\n\nВиправити: <code>/edit ID поле=значення</code>` : '✅ Записів, які потребують перевірки, немає.';\n} else if (status === 'related') {\n  const items = Array.isArray($json.items) ? $json.items : [];\n  reply = items.length ? `<b>Пов’язані з ${e($json.short_id)}</b>\n${e($json.title)}\n\n${items.map((item) => `• <code>${e(item.short_id)}</code> — ${e(item.title)}\n  схожість ${Math.round(Number(item.score || 0) * 100)}% · ${e((Array.isArray(item.reasons) ? item.reasons : []).join(', '))}`).join('\\n\\n')}` : `Для <code>${e($json.short_id)}</code> пов’язаних записів поки не знайдено.`;\n} else if (status === 'unarchived') {\n  reply = `📤 Запис <code>${e($json.short_id)}</code> повернено з архіву.\n${e($json.title)}`;\n} else if (status === 'edit_spec_required') {\n  reply = `Вкажіть зміни після ID. Приклад:\n<code>/edit ID project=AI Studio; category=AI; priority=High; tags=n8n, Gemini</code>`;\n} else if (status === 'edit_invalid_assignment') {\n  reply = `Не розпізнано зміну <code>${e($json.value)}</code>. Використовуйте формат <code>поле=значення</code> і розділяйте поля крапкою з комою.`;\n} else if (status === 'edit_unknown_value') {\n  reply = `Невідоме значення <code>${e($json.value)}</code> для поля <code>${e($json.field)}</code>. Використайте назву з чинної таксономії.`;\n} else if (status === 'edit_unknown_field') {\n  reply = `Невідоме поле <code>${e($json.field)}</code>. Доступні: project, category, type, priority, tags, title, summary.`;\n} else if (status === 'edit_empty_value') {\n  reply = `Поле <code>${e($json.field)}</code> не може бути порожнім.`;\n} else if (status === 'duplicates') {\n  const items = Array.isArray($json.items) ? $json.items : [];\n  reply = items.length ? `<b>Знайдені дублікати</b>\n\n${items.map((item) => `• Дубль <code>${e(item.duplicate_short_id)}</code> — ${e(item.duplicate_title)}\n  Головний <code>${e(item.canonical_short_id)}</code> — ${e(item.canonical_title)}\n  ${Math.round(Number(item.score || 0) * 100)}% · ${e(item.reason)}\n  <code>/merge ${e(item.duplicate_short_id)} ${e(item.canonical_short_id)}</code>`).join('\\n\\n')}` : '✅ Неприбраних дублікатів не знайдено.';\n} else if (status === 'graph') {\n  const items = Array.isArray($json.items) ? $json.items : [];\n  reply = items.length ? `<b>Граф для ${e($json.short_id)}</b>\n${e($json.title)}\n\n${items.map((item) => `${item.direction === 'out' ? '→' : '←'} <b>${e(item.relation_type)}</b> ${Math.round(Number(item.score || 0) * 100)}%\n  <code>${e(item.other_short_id)}</code> — ${e(item.other_title)}\n  ${e(item.explanation || '')}`).join('\\n\\n')}` : `Для <code>${e($json.short_id)}</code> зв’язків поки немає.`;\n} else if (status === 'file_not_available') {\n  reply = `Для <code>${e($json.short_id)}</code> оригінальний файл у B2 відсутній. Текст і аналіз запису залишаються доступними через /show.`;\n} else if (status === 'merge_confirmation') {\n  reply = `⚠️ <b>Підтвердження злиття</b>\n\nДубль: <code>${e($json.source_short_id)}</code> — ${e($json.source_title)}\nГоловний: <code>${e($json.canonical_short_id)}</code> — ${e($json.canonical_title)}\n\nТеги, вкладення, пам’ять і зв’язки перейдуть у головний запис. Дубль та його вектори буде видалено. B2-файли не видаляються.\n\nПідтвердити протягом ${Number($json.expires_minutes || 10)} хвилин:\n<code>/confirm ${e($json.token)}</code>\n\nСкасувати:\n<code>/cancel ${e($json.token)}</code>`;\n} else if (status === 'merge_ids_required') {\n  reply = 'Вкажіть ID дубля, потім ID головного запису: <code>/merge ДУБЛЬ ГОЛОВНИЙ</code>.';\n} else if (status === 'merge_same_item') {\n  reply = 'Не можна об’єднати запис із самим собою.';\n} else if (status === 'action_not_pending') {\n  reply = 'Ця дія вже виконана, скасована або прострочена.';\n} else if (status === 'knowledge_not_ready') {\n  reply = 'AI-аналіз цього запису ще не готовий. Спробуйте пізніше або перевірте його статус через /show.';\n} else if (['item_id_required', 'item_not_found', 'item_id_ambiguous', 'unauthorized'].includes(status)) {\n  const messages = { item_id_required: 'Вкажіть щонайменше 6 символів ID. Отримати ID: /recent.', item_not_found: 'Запис із таким ID не знайдено.', item_id_ambiguous: 'Фрагмент ID неоднозначний — вкажіть більше символів.', unauthorized: '⛔ Немає доступу до пам’яті.' };\n  reply = e(messages[status]);\n} else {\n  reply = `<b>Керування пам’яттю</b>\n\n<code>/recent</code> — останні записи\n<code>/review</code> — черга перевірки\n<code>/show ID</code> — деталі\n<code>/edit ID поле=значення</code> — виправити аналіз\n<code>/related ID</code> — пов’язані записи\n<code>/graph ID</code> — граф зв’язків\n<code>/duplicates</code> — черга дублікатів\n<code>/file ID</code> — повернути оригінал\n<code>/merge ДУБЛЬ ГОЛОВНИЙ</code> — об’єднати\n<code>/archive ID</code> / <code>/unarchive ID</code>\n<code>/reindex ID</code> — перебудувати RAG\n<code>/delete ID</code> — безпечне видалення`;\n}\nreturn [{ json: { chat_id: $json.chat_id, reply } }];"
      },
      "id": "c1cbcc8f-ef24-4556-b38e-fd0b3e087911",
      "name": "Prepare Curation Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-270, -420]
    },
    {
      "parameters": {
        "jsCode": "const reply = String($json.reply || '');\nconst button = (text, data) => ({ text, additionalFields: { callback_data: data } });\nconst row = (...buttons) => ({ row: { buttons } });\nconst rows = [];\nconst uniqueIds = [...new Set([...reply.matchAll(/<code>([0-9a-f]{6,36})<\\/code>/gi)].map((match) => match[1]))];\nconst addMenu = () => rows.push(row(button('☰ Команди', 'ia:memory')));\n\nif (reply.includes('<b>Керування пам’яттю</b>')) {\n  rows.push(row(button('🕘 Останні', 'ia:recent'), button('🔎 Перевірка', 'ia:review')));\n  rows.push(row(button('🧩 Дублікати', 'ia:duplicates')));\n} else if (reply.includes('<b>Останні записи</b>') || reply.includes('<b>Черга перевірки</b>') || reply.includes('<b>Пов’язані з ') || reply.includes('<b>Граф для ')) {\n  for (const id of uniqueIds.slice(0, 10)) rows.push(row(button(`👁 ${id}`, `ia:show:${id}`)));\n  addMenu();\n} else if (reply.includes('<b>Знайдені дублікати</b>')) {\n  const merges = [...reply.matchAll(/<code>\\/merge\\s+([0-9a-f]{6,36})\\s+([0-9a-f]{6,36})<\\/code>/gi)];\n  for (const match of merges.slice(0, 8)) rows.push(row(button(`🔀 ${match[1]} → ${match[2]}`, `ia:merge:${match[1]}:${match[2]}`)));\n  addMenu();\n} else if (reply.includes('<b>Підтвердження видалення</b>') || reply.includes('<b>Підтвердження злиття</b>')) {\n  const confirm = reply.match(/<code>\\/confirm\\s+([^<\\s]+)<\\/code>/i)?.[1];\n  const cancel = reply.match(/<code>\\/cancel\\s+([^<\\s]+)<\\/code>/i)?.[1] || confirm;\n  if (confirm) rows.push(row(button('✅ Підтвердити', `ia:confirm:${confirm}`), button('❌ Скасувати', `ia:cancel:${cancel}`)));\n  else addMenu();\n} else {\n  const detail = reply.match(/^<b>[\\s\\S]*?<\\/b>\\n<code>([0-9a-f]{6,36})<\\/code>/i);\n  if (detail) {\n    const id = detail[1];\n    rows.push(row(button('🔗 Пов’язані', `ia:related:${id}`), button('🕸 Граф', `ia:graph:${id}`)));\n    rows.push(row(button('📄 Файл', `ia:file:${id}`), button(reply.includes('📦 архів') ? '📤 Відновити' : '📦 Архів', `ia:${reply.includes('📦 архів') ? 'unarchive' : 'archive'}:${id}`)));\n    rows.push(row(button('♻️ RAG', `ia:reindex:${id}`), button('🗑 Видалити', `ia:delete:${id}`)));\n    addMenu();\n  } else if (reply.includes('Вкажіть щонайменше 6 символів ID')) {\n    rows.push(row(button('🕘 Обрати з останніх', 'ia:recent')));\n    addMenu();\n  } else {\n    addMenu();\n  }\n}\n\nreturn [{ json: { ...$json, inline_keyboard: { rows } } }];"
      },
      "id": "d1a037aa-abeb-4f94-8552-9fffb433cad0",
      "name": "Add Interactive Keyboard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-20, -340]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.reply }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": "={{ $json.inline_keyboard }}",
        "additionalFields": {"parse_mode": "HTML", "appendAttribution": false}
      },
      "id": "2b916412-2cd7-4a1e-b499-70c89930eb7e",
      "name": "Send Management Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [240, -340],
      "credentials": {"telegramApi": {"id": "iIA8c9213PIlR1Zm", "name": "Telegram account"}}
    },
    {
      "parameters": {"jsCode": "return $json.route === 'confirm_delete' ? [{ json: $json }] : [];"},
      "id": "e638303e-dad4-46cc-9801-b97864ca05c5",
      "name": "Pass Confirmed Delete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-270, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH action AS (\n  SELECT pending.id, pending.user_id, pending.target_inbox_item_id\n  FROM inbox.pending_actions pending\n  WHERE pending.id = $1::uuid AND pending.status = 'confirmed'\n), objects AS (\n  SELECT DISTINCT attachment.storage_bucket, attachment.object_key\n  FROM action\n  JOIN inbox.attachments attachment ON attachment.inbox_item_id = action.target_inbox_item_id\n  WHERE attachment.storage_provider = 'backblaze_b2'\n    AND attachment.upload_status = 'stored'\n    AND attachment.storage_bucket IS NOT NULL\n    AND attachment.object_key IS NOT NULL\n    AND NOT EXISTS (\n      SELECT 1 FROM inbox.attachments other\n      WHERE other.inbox_item_id <> action.target_inbox_item_id\n        AND other.storage_provider = attachment.storage_provider\n        AND other.storage_bucket = attachment.storage_bucket\n        AND other.object_key = attachment.object_key\n        AND other.upload_status = 'stored'\n    )\n)\nSELECT action.id::text AS action_id, action.target_inbox_item_id::text AS item_id,\n  $2::text AS chat_id, $3::text AS title,\n  coalesce((SELECT jsonb_agg(jsonb_build_object('bucket', storage_bucket, 'key', object_key)) FROM objects), '[]'::jsonb) AS objects_to_delete\nFROM action;",
        "options": {
          "queryReplacement": "={{ [ $json.action_id, $json.chat_id, $json.title || '' ] }}",
          "queryBatching": "independently"
        }
      },
      "id": "1c48984d-a3c8-48a8-8dc2-6fc54112a3f9",
      "name": "Prepare Safe Deletion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-20, 0],
      "credentials": {"postgres": {"id": "384ec057-10f8-41b5-9d1b-f587c652e358", "name": "Inbox Agent PostgreSQL"}}
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "qdrantApi",
        "method": "POST",
        "url": "http://qdrant:6333/collections/inbox_memory/points/delete?wait=true",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { filter: { must: [ { key: 'metadata.inbox_item_id', match: { value: $json.item_id } } ] } } }}",
        "options": {"timeout": 15000}
      },
      "id": "d560d55b-4c62-47a5-8401-95e1096ed5df",
      "name": "Delete Item Vectors",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [230, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {"qdrantApi": {"id": "1300f473-db92-43ce-b7b5-4ca77738d433", "name": "Inbox Agent Qdrant"}}
    },
    {
      "parameters": {
        "jsCode": "const source = $('Prepare Safe Deletion').first().json;\nlet objects = source.objects_to_delete || [];\nif (typeof objects === 'string') { try { objects = JSON.parse(objects); } catch { objects = []; } }\nif (!Array.isArray(objects) || objects.length === 0) return [{ json: { ...source, skip_b2: true } }];\nreturn objects.map((object) => ({ json: { ...source, skip_b2: false, storage_bucket: object.bucket, object_key: object.key } }));"
      },
      "id": "a66a15ea-583f-4c3b-aef6-e67ab57bcf68",
      "name": "Expand B2 Deletions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0]
    },
    {
      "parameters": {"jsCode": "return $json.skip_b2 ? [] : [{ json: $json }];"},
      "id": "0accf49b-602b-435c-9168-26334d834696",
      "name": "Pass B2 Objects",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [710, -80]
    },
    {
      "parameters": {"jsCode": "return $json.skip_b2 ? [{ json: $json }] : [];"},
      "id": "e506ff41-2e7c-401e-b85a-c870164ed126",
      "name": "Skip Shared or Missing B2 Objects",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [710, 100]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "bucketName": "={{ $json.storage_bucket }}",
        "fileKey": "={{ $json.object_key }}",
        "options": {}
      },
      "id": "40c86c3d-0a55-47f9-9963-285a47769aee",
      "name": "Delete Unshared Original from B2",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [950, -80],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "credentials": {"s3": {"id": "20YWHyHI8TuFogpn", "name": "Backblaze B2 Inbox Storage"}}
    },
    {
      "parameters": {"jsCode": "const source = $('Prepare Safe Deletion').first().json;\nreturn [{ json: source }];"},
      "id": "e2a9f064-3f26-4199-8542-997713ef8257",
      "name": "Collapse B2 Deletions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, -80]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH marked AS (\n  UPDATE inbox.pending_actions\n  SET status = 'completed', completed_at = now(), error_message = NULL\n  WHERE id = $1::uuid AND status = 'confirmed'\n  RETURNING target_inbox_item_id\n), deleted AS (\n  DELETE FROM inbox.inbox_items item\n  USING marked\n  WHERE item.id = marked.target_inbox_item_id\n  RETURNING item.id\n)\nSELECT $2::text AS chat_id, $3::text AS title,\n  coalesce((SELECT left(id::text, 8) FROM deleted), left($4::text, 8)) AS short_id,\n  EXISTS (SELECT 1 FROM deleted) AS deleted;",
        "options": {
          "queryReplacement": "={{ [ $('Prepare Safe Deletion').first().json.action_id, $('Prepare Safe Deletion').first().json.chat_id, $('Prepare Safe Deletion').first().json.title, $('Prepare Safe Deletion').first().json.item_id ] }}",
          "queryBatching": "independently"
        }
      },
      "id": "f7b17a7d-727e-4377-816e-f5a3cb84d2be",
      "name": "Finalize Database Deletion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1410, 20],
      "credentials": {"postgres": {"id": "384ec057-10f8-41b5-9d1b-f587c652e358", "name": "Inbox Agent PostgreSQL"}}
    },
    {
      "parameters": {
        "jsCode": "const e = (value) => String(value ?? '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\nconst reply = $json.deleted ? `🗑 Запис <code>${e($json.short_id)}</code> видалено.\n${e($json.title)}\n\nPostgreSQL, Qdrant і незадубльований оригінал B2 очищено.` : 'Дію вже завершено або запис був видалений раніше.';\nreturn [{ json: { chat_id: $json.chat_id, reply } }];"
      },
      "id": "81c30329-6b38-4e93-bd21-fabacb58e467",
      "name": "Prepare Delete Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, 20]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.reply }}",
        "additionalFields": {"parse_mode": "HTML", "appendAttribution": false}
      },
      "id": "9f58491f-b2a5-49a2-b8b2-2931806a26a4",
      "name": "Send Delete Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1880, 20],
      "credentials": {"telegramApi": {"id": "iIA8c9213PIlR1Zm", "name": "Telegram account"}}
    },
    {
      "parameters": {"jsCode": "return $json.route === 'file_download' ? [{ json: $json }] : [];"},
      "id": "8fca4124-fd33-49b7-9032-784bff49b150",
      "name": "Pass File Download",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-270, 760]
    },
    {
      "parameters": {
        "jsCode": "let attachments = $json.attachments || [];\nif (typeof attachments === 'string') { try { attachments = JSON.parse(attachments); } catch { attachments = []; } }\nreturn (Array.isArray(attachments) ? attachments : []).map((attachment) => ({ json: { ...attachment, chat_id: $json.chat_id, short_id: $json.short_id, title: $json.title } }));"
      },
      "id": "a82dc9f1-f77d-43cb-a64c-bd004ba790fd",
      "name": "Expand Original Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-20, 760]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "download",
        "bucketName": "={{ $json.bucket }}",
        "fileKey": "={{ $json.object_key }}",
        "binaryPropertyName": "data"
      },
      "id": "3e1bd086-59fb-4398-bd74-e9e7c36291d4",
      "name": "Download Original from B2",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [230, 760],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "credentials": {"s3": {"id": "20YWHyHI8TuFogpn", "name": "Backblaze B2 Inbox Storage"}}
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendDocument",
        "chatId": "={{ $json.chat_id }}",
        "binaryData": true,
        "binaryPropertyName": "data",
        "additionalFields": {
          "caption": "={{ 'Оригінал ' + $json.short_id + ' — ' + $json.title }}",
          "fileName": "={{ $json.original_name }}",
          "disable_notification": false
        }
      },
      "id": "d696820b-fc28-4e72-83f4-2b2fec3cd4f7",
      "name": "Send Original File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [480, 760],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "credentials": {"telegramApi": {"id": "iIA8c9213PIlR1Zm", "name": "Telegram account"}}
    },
    {
      "parameters": {"jsCode": "return $json.route === 'confirm_merge' ? [{ json: $json }] : [];"},
      "id": "83394119-60be-4802-b1a6-92b45be4ca22",
      "name": "Pass Confirmed Merge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-270, 560]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "qdrantApi",
        "method": "POST",
        "url": "http://qdrant:6333/collections/inbox_memory/points/delete?wait=true",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { filter: { must: [ { key: 'metadata.inbox_item_id', match: { value: $json.source_item_id } } ] } } }}",
        "options": {"timeout": 15000}
      },
      "id": "568803f1-2b9d-43eb-a2e3-75ff3b09311d",
      "name": "Delete Duplicate Vectors for Merge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-20, 560],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {"qdrantApi": {"id": "1300f473-db92-43ce-b7b5-4ca77738d433", "name": "Inbox Agent Qdrant"}}
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "qdrantApi",
        "method": "POST",
        "url": "http://qdrant:6333/collections/inbox_memory/points/delete?wait=true",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { filter: { must: [ { key: 'metadata.inbox_item_id', match: { value: $('Normalize Command Result').first().json.canonical_item_id } } ] } } }}",
        "options": {"timeout": 15000}
      },
      "id": "4a4c7af0-3b75-45b1-99a3-47ac30355ed5",
      "name": "Clear Canonical Vectors for Merge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [230, 560],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {"qdrantApi": {"id": "1300f473-db92-43ce-b7b5-4ca77738d433", "name": "Inbox Agent Qdrant"}}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT inbox.finalize_merge_action($1::uuid) AS result, $2::text AS chat_id;",
        "options": {
          "queryReplacement": "={{ [ $('Normalize Command Result').first().json.action_id, $('Normalize Command Result').first().json.chat_id ] }}",
          "queryBatching": "independently"
        }
      },
      "id": "7a7bdc41-e3fc-4ccc-943d-81d3c5c4021e",
      "name": "Finalize Knowledge Merge",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [480, 560],
      "credentials": {"postgres": {"id": "384ec057-10f8-41b5-9d1b-f587c652e358", "name": "Inbox Agent PostgreSQL"}}
    },
    {
      "parameters": {
        "jsCode": "let result = $json.result || {};\nif (typeof result === 'string') { try { result = JSON.parse(result); } catch { result = {}; } }\nreturn [{ json: { ...result, chat_id: String($json.chat_id || ''), inbox_item_id: result.canonical_item_id } }];"
      },
      "id": "5cbcc88a-a3f9-4e03-9157-fc0cd30feaad",
      "name": "Normalize Merge Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 560]
    },
    {
      "parameters": {
        "operation": "call_workflow",
        "source": "database",
        "workflowId": {"__rl": true, "value": "InboxKnowledgeIndexing01", "mode": "list", "cachedResultName": "Inbox — Knowledge Indexing"},
        "workflowInputs": {"mappingMode": "defineBelow", "value": {}, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true},
        "mode": "each",
        "options": {"waitForSubWorkflow": false}
      },
      "id": "be61717b-c0eb-47bb-b10b-a1b367241074",
      "name": "Start Merged Item Reindex",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [960, 500]
    },
    {
      "parameters": {
        "jsCode": "const e = (value) => String(value ?? '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\nconst reply = $json.merged ? `🔗 <b>Записи об’єднано</b>\n\nВидалено дубль: <code>${e($json.source_short_id)}</code> — ${e($json.source_title)}\nГоловний запис: <code>${e($json.canonical_short_id)}</code> — ${e($json.canonical_title)}\n\nПеренесено вкладень: ${Number($json.moved_attachments || 0)}\nДодано тегів: ${Number($json.moved_tags || 0)}\nRAG та зв’язки перебудовуються у фоні.` : 'Злиття не виконано: дія вже завершена або записи недоступні.';\nreturn [{ json: { chat_id: $json.chat_id, reply } }];"
      },
      "id": "c74ef8f9-1a68-4ae6-935c-74b7fdcda3b8",
      "name": "Prepare Merge Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 640]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.reply }}",
        "additionalFields": {"parse_mode": "HTML", "appendAttribution": false}
      },
      "id": "bb63a1ce-b7ef-417d-bb63-ac568f3bf790",
      "name": "Send Merge Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1200, 640],
      "credentials": {"telegramApi": {"id": "iIA8c9213PIlR1Zm", "name": "Telegram account"}}
    },
    {
      "parameters": {"jsCode": "return $json.route === 'reindex' ? [{ json: $json }] : [];"},
      "id": "0c1ec3a1-b64e-4392-a00a-d913cab10024",
      "name": "Pass Reindex Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-270, 300]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "qdrantApi",
        "method": "POST",
        "url": "http://qdrant:6333/collections/inbox_memory/points/delete?wait=true",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { filter: { must: [ { key: 'metadata.inbox_item_id', match: { value: $json.item_id } } ] } } }}",
        "options": {"timeout": 15000}
      },
      "id": "77e4c16f-6618-4bb3-aeb3-619225437217",
      "name": "Clear Vectors for Reindex",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-20, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {"qdrantApi": {"id": "1300f473-db92-43ce-b7b5-4ca77738d433", "name": "Inbox Agent Qdrant"}}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH target AS (\n  SELECT item.id, knowledge.id AS knowledge_item_id\n  FROM inbox.inbox_items item\n  JOIN inbox.knowledge_items knowledge ON knowledge.inbox_item_id = item.id\n  WHERE item.id = $1::uuid\n), removed AS (\n  DELETE FROM inbox.knowledge_chunks chunk USING target\n  WHERE chunk.knowledge_item_id = target.knowledge_item_id\n  RETURNING chunk.id\n), cancelled AS (\n  UPDATE inbox.processing_jobs job SET status = 'cancelled', locked_at = NULL, locked_by = NULL\n  FROM target\n  WHERE job.inbox_item_id = target.id AND job.job_type = 'index' AND job.status IN ('pending', 'running', 'failed')\n), queued AS (\n  INSERT INTO inbox.processing_jobs (inbox_item_id, job_type, status, payload)\n  SELECT id, 'index', 'pending', jsonb_build_object('reason', 'telegram_reindex') FROM target\n  RETURNING inbox_item_id\n), updated AS (\n  UPDATE inbox.inbox_items item SET status = 'indexing', error_code = NULL, error_message = NULL\n  FROM target WHERE item.id = target.id\n)\nSELECT queued.inbox_item_id::text AS inbox_item_id, $2::text AS chat_id, $3::text AS title, left(queued.inbox_item_id::text, 8) AS short_id, (SELECT count(*) FROM removed) AS old_chunks_removed\nFROM queued;",
        "options": {
          "queryReplacement": "={{ [ $('Normalize Command Result').first().json.item_id, $('Normalize Command Result').first().json.chat_id, $('Normalize Command Result').first().json.title ] }}",
          "queryBatching": "independently"
        }
      },
      "id": "a141be76-8d10-486c-b8f5-565a9d3fb0b4",
      "name": "Queue Clean Reindex",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [230, 300],
      "credentials": {"postgres": {"id": "384ec057-10f8-41b5-9d1b-f587c652e358", "name": "Inbox Agent PostgreSQL"}}
    },
    {
      "parameters": {
        "operation": "call_workflow",
        "source": "database",
        "workflowId": {"__rl": true, "value": "InboxKnowledgeIndexing01", "mode": "list", "cachedResultName": "Inbox — Knowledge Indexing"},
        "workflowInputs": {"mappingMode": "defineBelow", "value": {}, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true},
        "mode": "each",
        "options": {"waitForSubWorkflow": false}
      },
      "id": "17cc1f48-e041-44cc-86b1-95a19f22cebb",
      "name": "Start Clean Reindex",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [500, 240]
    },
    {
      "parameters": {
        "jsCode": "const e = (value) => String(value ?? '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\nconst command = $('Normalize Command Result').first().json;\nconst changes = command.changes && typeof command.changes === 'object' ? Object.entries(command.changes).map(([key, value]) => `${key}=${value}`).join('; ') : '';\nconst heading = command.status === 'edited' ? '✏️ Аналіз виправлено' : '🔄 Переіндексацію запущено';\nconst detail = command.status === 'edited' ? `\n<b>Зміни:</b> ${e(changes)}\nRAG-індекс оновлюється у фоні.` : `\nСтарі фрагменти: ${Number($json.old_chunks_removed || 0)}. Новий RAG-індекс створюється у фоні.`;\nreturn [{ json: { chat_id: $json.chat_id, reply: `${heading} для <code>${e($json.short_id)}</code>.\n${e($json.title)}\n${detail}` } }];"
      },
      "id": "c07bf62b-15cb-4920-b388-92cf98c010da",
      "name": "Prepare Reindex Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 380]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.reply }}",
        "additionalFields": {"parse_mode": "HTML", "appendAttribution": false}
      },
      "id": "b17ef3f7-d03f-4e04-a169-3f71155dafb8",
      "name": "Send Reindex Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [760, 380],
      "credentials": {"telegramApi": {"id": "iIA8c9213PIlR1Zm", "name": "Telegram account"}}
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {"main": [[{"node": "Execute Memory Command", "type": "main", "index": 0}]]},
    "Execute Memory Command": {"main": [[{"node": "Normalize Command Result", "type": "main", "index": 0}]]},
    "Normalize Command Result": {"main": [[
      {"node": "Prepare Curation Reply", "type": "main", "index": 0},
      {"node": "Prepare Direct Reply", "type": "main", "index": 0},
      {"node": "Pass Confirmed Delete", "type": "main", "index": 0},
      {"node": "Pass Confirmed Merge", "type": "main", "index": 0},
      {"node": "Pass File Download", "type": "main", "index": 0},
      {"node": "Pass Reindex Request", "type": "main", "index": 0}
    ]]},
    "Prepare Curation Reply": {"main": [[{"node": "Add Interactive Keyboard", "type": "main", "index": 0}]]},
    "Prepare Direct Reply": {"main": [[{"node": "Add Interactive Keyboard", "type": "main", "index": 0}]]},
    "Add Interactive Keyboard": {"main": [[{"node": "Send Management Reply", "type": "main", "index": 0}]]},
    "Pass Confirmed Delete": {"main": [[{"node": "Prepare Safe Deletion", "type": "main", "index": 0}]]},
    "Prepare Safe Deletion": {"main": [[{"node": "Delete Item Vectors", "type": "main", "index": 0}]]},
    "Delete Item Vectors": {"main": [[{"node": "Expand B2 Deletions", "type": "main", "index": 0}]]},
    "Expand B2 Deletions": {"main": [[
      {"node": "Pass B2 Objects", "type": "main", "index": 0},
      {"node": "Skip Shared or Missing B2 Objects", "type": "main", "index": 0}
    ]]},
    "Pass B2 Objects": {"main": [[{"node": "Delete Unshared Original from B2", "type": "main", "index": 0}]]},
    "Delete Unshared Original from B2": {"main": [[{"node": "Collapse B2 Deletions", "type": "main", "index": 0}]]},
    "Collapse B2 Deletions": {"main": [[{"node": "Finalize Database Deletion", "type": "main", "index": 0}]]},
    "Skip Shared or Missing B2 Objects": {"main": [[{"node": "Finalize Database Deletion", "type": "main", "index": 0}]]},
    "Finalize Database Deletion": {"main": [[{"node": "Prepare Delete Reply", "type": "main", "index": 0}]]},
    "Prepare Delete Reply": {"main": [[{"node": "Send Delete Reply", "type": "main", "index": 0}]]},
    "Pass Confirmed Merge": {"main": [[{"node": "Delete Duplicate Vectors for Merge", "type": "main", "index": 0}]]},
    "Delete Duplicate Vectors for Merge": {"main": [[{"node": "Clear Canonical Vectors for Merge", "type": "main", "index": 0}]]},
    "Clear Canonical Vectors for Merge": {"main": [[{"node": "Finalize Knowledge Merge", "type": "main", "index": 0}]]},
    "Finalize Knowledge Merge": {"main": [[{"node": "Normalize Merge Result", "type": "main", "index": 0}]]},
    "Normalize Merge Result": {"main": [[
      {"node": "Start Merged Item Reindex", "type": "main", "index": 0},
      {"node": "Prepare Merge Reply", "type": "main", "index": 0}
    ]]},
    "Prepare Merge Reply": {"main": [[{"node": "Send Merge Reply", "type": "main", "index": 0}]]},
    "Pass File Download": {"main": [[{"node": "Expand Original Files", "type": "main", "index": 0}]]},
    "Expand Original Files": {"main": [[{"node": "Download Original from B2", "type": "main", "index": 0}]]},
    "Download Original from B2": {"main": [[{"node": "Send Original File", "type": "main", "index": 0}]]},
    "Pass Reindex Request": {"main": [[{"node": "Clear Vectors for Reindex", "type": "main", "index": 0}]]},
    "Clear Vectors for Reindex": {"main": [[{"node": "Queue Clean Reindex", "type": "main", "index": 0}]]},
    "Queue Clean Reindex": {"main": [[
      {"node": "Start Clean Reindex", "type": "main", "index": 0},
      {"node": "Prepare Reindex Reply", "type": "main", "index": 0}
    ]]},
    "Prepare Reindex Reply": {"main": [[{"node": "Send Reindex Reply", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "versionId": "84f3a945-b474-445e-ab03-a9f010a990ca",
  "meta": {"templateCredsSetupCompleted": true},
  "tags": []
}
