workflows/inbox-telegram-capture.json
{
  "id": "InboxTelegramCapture01",
  "name": "Inbox — Telegram Capture",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "df51dc2a-c056-452d-96b0-95209d4bf9a6",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -720,
        0
      ],
      "webhookId": "580f640c-b7b2-40e4-a2f0-ff46060f646f",
      "credentials": {
        "telegramApi": {
          "id": "iIA8c9213PIlR1Zm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst message = input.message || {};\nconst rawText = String(message.text || message.caption || '');\nconst normalizedText = rawText.trim().replace(/\\s+/g, ' ');\nconst lower = normalizedText.toLocaleLowerCase('uk-UA');\nconst urls = normalizedText.match(/https?:\\/\\/[^\\s]+/gi) || [];\nconst photo = Array.isArray(message.photo) ? message.photo.at(-1) : null;\nconst voice = message.voice || null;\nconst document = message.document || null;\nconst mediaKind = voice ? 'voice' : photo ? 'photo' : document ? 'document' : null;\nconst file = voice || photo || document || {};\nconst mimeType = String(file.mime_type || (photo ? 'image/jpeg' : '')).toLowerCase();\nconst fileName = String(document?.file_name || (voice ? `voice-${message.message_id}.ogg` : photo ? `photo-${message.message_id}.jpg` : ''));\nconst fileSize = Number(file.file_size || 0);\nconst knownDocument = /\\.(pdf|docx|xlsx|pptx|txt|md|csv|json|xml)$/i.test(fileName);\nconst blockedDocument = Boolean(document) && (/\\.(zip|rar|7z|tar|gz)$/i.test(fileName) || /(?:zip|x-rar|x-7z|x-tar|gzip)/i.test(mimeType) || (!knownDocument && /octet-stream/i.test(mimeType)));\nconst oversizedDocument = Boolean(document) && fileSize > 20 * 1024 * 1024;\nconst forceCapture = /^\\/(save|inbox)(?:@\\w+)?(?:\\s|$)/i.test(normalizedText);\nconst documentSearchCommand = /^\\/(docsearch|docs|doc)(?:@\\w+)?(?:\\s|$)/i.test(normalizedText);\nconst documentSearchPhrase = /^(знайди|знайдіть|покажи|покажіть|пошукай|пошукайте)\\s+(?:в|у)\\s+(?:документах?|файлах?)(?=\\s|$)/i.test(lower);\nconst searchScope = documentSearchCommand || documentSearchPhrase ? 'documents' : 'all';\nconst searchIntent = !mediaKind && !forceCapture && (\n  documentSearchCommand || documentSearchPhrase ||\n  /^\\/(search|find)(?:@\\w+)?(?:\\s|$)/i.test(normalizedText) ||\n  /^(знайди|знайдіть|покажи|покажіть|що я знаю|що в мене є|які (?:в мене|у мене)|пошукай|де (?:в мене|у мене))(?=\\s|$)/i.test(lower)\n);\nlet query = normalizedText.replace(/^\\/(search|find|docsearch|docs|doc)(?:@\\w+)?(?:\\s+|$)/i, '').trim();\nif (searchScope === 'documents') query = query.replace(/^(знайди|знайдіть|покажи|покажіть|пошукай|пошукайте)\\s+(?:в|у)\\s+(?:документах?|файлах?)\\s*/i, '').trim();\nconst captureText = normalizedText.replace(/^\\/(save|inbox)(?:@\\w+)?\\s*/i, '').trim();\nconst supported = mediaKind ? !blockedDocument && !oversizedDocument : normalizedText.length > 0;\nconst unsupportedReason = blockedDocument ? 'archive_or_opaque_binary' : oversizedDocument ? 'file_over_20mb' : null;\n\nreturn [{ json: {\n  telegram_user_id: String(message.from?.id || ''),\n  source_message_id: String(message.message_id || ''),\n  source_chat_id: String(message.chat?.id || ''),\n  content_type: voice ? 'voice' : photo ? 'photo' : document ? 'file' : urls.length > 0 ? 'link' : 'text',\n  raw_text: rawText,\n  normalized_text: forceCapture ? captureText : normalizedText,\n  source_url: urls[0] || null,\n  supported,\n  unsupported_reason: unsupportedReason,\n  intent: searchIntent ? 'search' : 'capture',\n  search_scope: searchScope,\n  query,\n  media_kind: mediaKind,\n  file_id: String(file.file_id || ''),\n  file_unique_id: String(file.file_unique_id || ''),\n  file_name: fileName,\n  mime_type: mimeType,\n  file_size: fileSize,\n  raw_payload: input\n} }];"
      },
      "id": "6659bb9c-3804-47e1-935b-75b5c1f7a288",
      "name": "Normalize Telegram Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.intent === 'search' || $json.media_kind || $json.content_type === 'link') return [];\nreturn [{ json: $json }];"
      },
      "id": "b236ef97-93f9-430b-b930-c8235c990478",
      "name": "Pass Capture Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-300, -100]
    },
    {
      "parameters": {
        "jsCode": "if ($json.intent === 'search' || $json.media_kind || $json.content_type !== 'link' || !$json.source_url) return [];\nreturn [{ json: $json }];"
      },
      "id": "8b3c74ca-8990-4a0c-a31f-a70359d0e452",
      "name": "Pass Web Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-300, -220]
    },
    {
      "parameters": {
        "jsCode": "const row = $json;\nconst source = String(row.source_url || '').trim();\nconst match = source.match(/^(https?):\\/\\/([^\\/?#]+)([^\\s]*)$/i);\nif (!match) return [];\nconst protocol = match[1].toLowerCase();\nconst authority = match[2];\nif (authority.includes('@')) return [];\nlet host = authority.toLowerCase();\nif (host.startsWith('[')) {\n  const end = host.indexOf(']');\n  if (end < 0) return [];\n  host = host.slice(1, end);\n} else {\n  host = host.split(':')[0];\n}\nconst blockedName = host === 'localhost' || host.endsWith('.localhost') || host.endsWith('.local') || host.endsWith('.internal') || host === 'metadata.google.internal';\nconst blockedIpv4 = /^(?:0\\.|10\\.|127\\.|169\\.254\\.|192\\.168\\.|100\\.(?:6[4-9]|[7-9]\\d|1[01]\\d|12[0-7])\\.)/.test(host)\n  || /^172\\.(?:1[6-9]|2\\d|3[01])\\./.test(host);\nconst blockedIpv6 = host === '::1' || host.startsWith('fc') || host.startsWith('fd') || host.startsWith('fe80:');\nif (blockedName || blockedIpv4 || blockedIpv6) return [];\nconst normalizedUrl = `${protocol}://${authority}${match[3] || ''}`.replace(/#.*$/, '');\nreturn [{ json: { ...row, source_url: normalizedUrl, web_host: host } }];"
      },
      "id": "da5d2846-4995-4b17-9bc0-80b96215bb0c",
      "name": "Validate Web URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-60, -220]
    },
    {
      "parameters": {
        "jsCode": "const youtubeHosts = ['youtube.com', 'www.youtube.com', 'm.youtube.com', 'music.youtube.com', 'youtu.be'];\nreturn youtubeHosts.includes(String($json.web_host || '').toLowerCase()) ? [{ json: $json }] : [];"
      },
      "id": "73d52ff8-8e2d-48e2-bd65-3d1964410cc2",
      "name": "Filter YouTube Link",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [170, -340]
    },
    {
      "parameters": {
        "jsCode": "const youtubeHosts = ['youtube.com', 'www.youtube.com', 'm.youtube.com', 'music.youtube.com', 'youtu.be'];\nreturn youtubeHosts.includes(String($json.web_host || '').toLowerCase()) ? [] : [{ json: $json }];"
      },
      "id": "979a7c96-fc71-49a1-91ca-2b8f96347e54",
      "name": "Filter Regular Web Link",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [170, -180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://youtube-reader:8080/extract",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { url: $json.source_url } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "f1ed62db-b22e-45a2-9428-cf5aa64d5c3c",
      "name": "Read YouTube Metadata and Captions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [430, -340],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const original = $('Validate Web URL').first().json;\nconst result = $json || {};\nconst duration = Number(result.duration || 0);\nconst transcriptCharacters = Number(result.transcript_characters || 0);\nconst transcriptReady = transcriptCharacters > 0;\nconst extractionStatus = transcriptReady ? 'transcript_ready' : (result.ok ? (result.transcript_error ? 'caption_error' : 'metadata_only') : 'failed');\nconst limitation = transcriptReady ? '' : 'УВАГА: транскрипт відео недоступний. Аналізуй лише назву, опис, метадані та розділи; не стверджуй, що це аналіз повного змісту відео.';\nconst durationText = duration ? `${Math.floor(duration / 3600)}:${String(Math.floor((duration % 3600) / 60)).padStart(2, '0')}:${String(duration % 60).padStart(2, '0')}` : '';\nconst chapters = Array.isArray(result.chapters) ? result.chapters.map((chapter) => {\n  const seconds = Number(chapter.start_time || 0);\n  const stamp = `${Math.floor(seconds / 60)}:${String(Math.floor(seconds % 60)).padStart(2, '0')}`;\n  return `${stamp} ${chapter.title || ''}`.trim();\n}).filter(Boolean).join('\\n') : '';\nconst parts = [\n  result.title ? `Назва: ${result.title}` : '',\n  limitation,\n  result.channel ? `Канал: ${result.channel}` : '',\n  result.upload_date ? `Дата публікації: ${String(result.upload_date).replace(/^(\\d{4})(\\d{2})(\\d{2})$/, '$1-$2-$3')}` : '',\n  durationText ? `Тривалість: ${durationText}` : '',\n  result.description ? `Опис:\\n${result.description}` : '',\n  chapters ? `Розділи:\\n${chapters}` : '',\n  result.transcript ? `Транскрипт (${result.language || 'unknown'}, ${result.subtitle_type || 'captions'}):\\n${result.transcript}` : ''\n].filter(Boolean);\nconst extracted = parts.join('\\n\\n').slice(0, 120000).trim();\nconst fallback = String(original.normalized_text || original.source_url || '').trim();\nconst normalized = extracted || fallback;\nreturn [{ json: {\n  ...original,\n  raw_text: fallback,\n  normalized_text: normalized,\n  supported: normalized.length > 0,\n  raw_payload: {\n    ...original.raw_payload,\n    extraction: {\n      provider: 'yt-dlp',\n      status: extractionStatus,\n      complete: transcriptReady,\n      metadata_complete: Boolean(result.ok),\n      video_id: result.id || null,\n      title: result.title || '',\n      channel: result.channel || '',\n      duration: duration || null,\n      language: result.language || null,\n      subtitle_type: result.subtitle_type || null,\n      transcript_characters: transcriptCharacters,\n      error: result.error || result.transcript_error || null\n    }\n  }\n} }];"
      },
      "id": "1b673ac3-6fa3-4e38-a9af-fe50fe1f8182",
      "name": "Normalize YouTube Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, -340]
    },
    {
      "parameters": {
        "url": "={{ $json.source_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; InboxAgent/1.0; +https://inbox.mihabot.top)"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,text/plain;q=0.9,*/*;q=0.1"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 4
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "id": "a68d3a35-2386-456f-a0db-9ce4bd288fc5",
      "name": "Download Web Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [180, -220],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1500,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const original = $('Validate Web URL').first().json;\nconst response = $json || {};\nconst statusCode = Number(response.statusCode || 0);\nconst headers = response.headers || {};\nconst contentType = String(headers['content-type'] || headers['Content-Type'] || '').toLowerCase();\nlet body = typeof response.body === 'string' ? response.body : typeof response.data === 'string' ? response.data : typeof response === 'string' ? response : '';\nbody = body.slice(0, 1500000);\n\nconst decode = (value) => String(value || '')\n  .replace(/&#(\\d+);/g, (_, n) => String.fromCodePoint(Number(n)))\n  .replace(/&#x([0-9a-f]+);/gi, (_, n) => String.fromCodePoint(parseInt(n, 16)))\n  .replace(/&nbsp;/gi, ' ')\n  .replace(/&amp;/gi, '&')\n  .replace(/&quot;/gi, '\"')\n  .replace(/&#39;|&apos;/gi, \"'\")\n  .replace(/&lt;/gi, '<')\n  .replace(/&gt;/gi, '>');\n\nlet title = '';\nlet description = '';\nlet text = '';\nif (/html|xhtml/.test(contentType) || /<html|<body|<article/i.test(body)) {\n  title = decode((body.match(/<title[^>]*>([\\s\\S]*?)<\\/title>/i) || [])[1]).replace(/\\s+/g, ' ').trim();\n  description = decode((body.match(/<meta[^>]+(?:name|property)=[\"'](?:description|og:description)[\"'][^>]+content=[\"']([\\s\\S]*?)[\"'][^>]*>/i) || body.match(/<meta[^>]+content=[\"']([\\s\\S]*?)[\"'][^>]+(?:name|property)=[\"'](?:description|og:description)[\"'][^>]*>/i) || [])[1]).replace(/\\s+/g, ' ').trim();\n  text = body\n    .replace(/<!--[\\s\\S]*?-->/g, ' ')\n    .replace(/<(script|style|svg|canvas|noscript|template|form|nav|footer|header|aside)[^>]*>[\\s\\S]*?<\\/\\1>/gi, ' ')\n    .replace(/<(br|p|div|section|article|main|h[1-6]|li|tr|blockquote)[^>]*>/gi, '\\n')\n    .replace(/<[^>]+>/g, ' ');\n  text = decode(text);\n} else if (contentType.startsWith('text/') || body) {\n  text = body;\n}\ntext = text.replace(/\\r/g, '').replace(/[ \\t]+/g, ' ').replace(/ *\\n */g, '\\n').replace(/\\n{3,}/g, '\\n\\n').trim();\nconst useful = [title, description, text].filter(Boolean).join('\\n\\n').slice(0, 120000).trim();\nconst fallback = String(original.normalized_text || original.source_url || '').trim();\nconst normalized = useful.length >= 200 ? useful : fallback;\nreturn [{ json: {\n  ...original,\n  raw_text: fallback,\n  normalized_text: normalized,\n  supported: normalized.length > 0,\n  raw_payload: {\n    ...original.raw_payload,\n    extraction: {\n      provider: 'direct-html',\n      status_code: statusCode,\n      content_type: contentType,\n      title,\n      extracted_characters: useful.length,\n      complete: useful.length >= 200\n    }\n  }\n} }];"
      },
      "id": "2a33897c-d9b1-4bf7-8db7-aaebbc567d0a",
      "name": "Extract Web Page Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [430, -220]
    },
    {
      "parameters": {
        "jsCode": "if ($json.intent !== 'search' || !$json.query) return [];\nreturn [{ json: {\n  telegram_user_id: $json.telegram_user_id,\n  source_chat_id: $json.source_chat_id,\n  search_scope: $json.search_scope || 'all',\n  query: $json.query\n} }];"
      },
      "id": "e2f1de87-44a1-4582-a0e0-f94c00518db3",
      "name": "Pass Search Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-300, 220]
    },
    {
      "parameters": {
        "jsCode": "if (!$json.media_kind || !$json.file_id || !$json.supported) return [];\nreturn [{ json: $json }];"
      },
      "id": "fdbd1cae-d456-48d6-a5a5-f6beebd450cd",
      "name": "Pass Media Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-300, 420]
    },
    {
      "parameters": {
        "jsCode": "if (!$json.media_kind || $json.supported) return [];\nreturn [{ json: $json }];"
      },
      "id": "41f526fe-a7c7-4c18-9cbf-ff72a25ce33a",
      "name": "Pass Unsupported Media",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-300, 520]
    },
    {
      "parameters": {"jsCode": "return $json.media_kind === 'voice' ? [{ json: $json }] : [];"},
      "id": "57ac4930-1532-420a-842d-3fc80e4ffae0",
      "name": "Filter Voice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-60, 340]
    },
    {
      "parameters": {"jsCode": "return $json.media_kind === 'photo' ? [{ json: $json }] : [];"},
      "id": "ff0df9fd-87dd-4ba5-a45a-cb6c8d22ef9d",
      "name": "Filter Photo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-60, 460]
    },
    {
      "parameters": {"jsCode": "return $json.media_kind === 'document' ? [{ json: $json }] : [];"},
      "id": "f337f7e3-9fa2-4d79-bbb7-63f5d6f3cb55",
      "name": "Filter Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-60, 580]
    },
    {
      "parameters": {"resource": "file", "operation": "get", "fileId": "={{ $json.file_id }}", "download": true, "additionalFields": {"mimeType": "audio/ogg"}},
      "id": "e3d89f12-b37f-4921-be85-cd493684d3d3",
      "name": "Download Voice",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [180, 340],
      "credentials": {"telegramApi": {"id": "iIA8c9213PIlR1Zm", "name": "Telegram account"}}
    },
    {
      "parameters": {"resource": "file", "operation": "get", "fileId": "={{ $json.file_id }}", "download": true, "additionalFields": {"mimeType": "image/jpeg"}},
      "id": "f041bce2-3f70-4411-96ef-8e28da7718f4",
      "name": "Download Photo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [180, 460],
      "credentials": {"telegramApi": {"id": "iIA8c9213PIlR1Zm", "name": "Telegram account"}}
    },
    {
      "parameters": {"resource": "file", "operation": "get", "fileId": "={{ $json.file_id }}", "download": true, "additionalFields": {"mimeType": "={{ $json.mime_type }}"}},
      "id": "2dbad410-b92a-4db6-bc47-54efc7aab478",
      "name": "Download Document",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [180, 580],
      "credentials": {"telegramApi": {"id": "iIA8c9213PIlR1Zm", "name": "Telegram account"}}
    },
    {
      "parameters": {
        "jsCode": "const original = $('Normalize Telegram Input').first().json;\nconst mime = String(original.mime_type || '').toLowerCase();\nconst name = String(original.file_name || '').toLowerCase();\nconst local = mime.startsWith('text/')\n  || /application\\/(json|xml|csv)/i.test(mime)\n  || /\\.(txt|md|csv|json|xml)$/.test(name);\nreturn local ? [{ json: $json, binary: $binary }] : [];"
      },
      "id": "8e99166b-1a55-4cf2-b67a-cafc7af1f3d9",
      "name": "Filter Local Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [410, 650]
    },
    {
      "parameters": {
        "jsCode": "const original = $('Normalize Telegram Input').first().json;\nconst mime = String(original.mime_type || '').toLowerCase();\nconst name = String(original.file_name || '').toLowerCase();\nconst local = mime.startsWith('text/')\n  || /application\\/(json|xml|csv)/i.test(mime)\n  || /\\.(txt|md|csv|json|xml)$/.test(name);\nconst pdf = mime === 'application/pdf' || name.endsWith('.pdf');\nconst office = /\\.(docx|xlsx|pptx)$/.test(name) || /officedocument/i.test(mime);\nreturn local || pdf || office ? [] : [{ json: $json, binary: $binary }];"
      },
      "id": "47f3d787-c22f-4a59-be6e-12cd42363ca8",
      "name": "Filter Gemini Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [410, 560]
    },
    {
      "parameters": {
        "jsCode": "const original = $('Normalize Telegram Input').first().json;\nconst mime = String(original.mime_type || '').toLowerCase();\nconst name = String(original.file_name || '').toLowerCase();\nconst pdf = mime === 'application/pdf' || name.endsWith('.pdf');\nreturn pdf ? [{ json: $json, binary: $binary }] : [];"
      },
      "id": "08ed7c31-4082-44e8-96ad-433b7268bdf7",
      "name": "Filter PDF Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [410, 760]
    },
    {
      "parameters": {
        "jsCode": "const original = $('Normalize Telegram Input').first().json;\nconst mime = String(original.mime_type || '').toLowerCase();\nconst name = String(original.file_name || '').toLowerCase();\nconst office = /\\.(docx|xlsx|pptx)$/.test(name) || /officedocument/i.test(mime);\nreturn office ? [{ json: $json, binary: $binary }] : [];"
      },
      "id": "0b7e39a1-f4a8-46e1-b53a-7d8b9224c365",
      "name": "Filter Office Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [410, 900]
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "data",
        "destinationKey": "document_base64",
        "options": {"keepSource": "json"}
      },
      "id": "695a455f-7b77-4689-ae75-da40843fda13",
      "name": "Read Office Document Binary",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [650, 900]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://document-reader:8080/extract",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { filename: $('Normalize Telegram Input').first().json.file_name, mime_type: $('Normalize Telegram Input').first().json.mime_type, data_base64: $json.document_base64 } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "77ba2192-cfdd-4184-a361-416aeb57228d",
      "name": "Extract Office Document Locally",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [890, 900],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const content = String($json.content || '').trim();\nconst readable = Boolean($json.ok) && content.length > 0 && !$json.needs_ai_fallback;\nreturn readable ? [{ json: $json }] : [];"
      },
      "id": "66eb2e76-eb9c-41ee-835b-137bd8275d1f",
      "name": "Filter Readable Office Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 860]
    },
    {
      "parameters": {
        "jsCode": "const content = String($json.content || '').trim();\nconst needsFallback = !$json.ok || !content || Boolean($json.needs_ai_fallback);\nif (!needsFallback) return [];\nconst downloaded = $('Download Document').first();\nreturn [{ json: $json, binary: downloaded.binary }];"
      },
      "id": "85495cf3-238b-4774-bbeb-0437da5013d1",
      "name": "Filter Visual Office Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 960]
    },
    {
      "parameters": {
        "jsCode": "const original = $('Normalize Telegram Input').first().json;\nconst extracted = String($json.content || '').trim();\nconst caption = String(original.normalized_text || '').trim();\nconst normalized = [caption, extracted].filter(Boolean).join('\\n\\n').slice(0, 120000).trim();\nconst metadata = $json.metadata && typeof $json.metadata === 'object' ? $json.metadata : {};\nreturn [{ json: {\n  ...original,\n  raw_text: caption || extracted.slice(0, 1000),\n  normalized_text: normalized,\n  supported: normalized.length > 0,\n  raw_payload: {\n    ...original.raw_payload,\n    extraction: {\n      provider: 'document-reader',\n      status: 'office_text_extracted',\n      format: metadata.format || null,\n      extracted_characters: Number($json.characters || extracted.length),\n      stored_characters: Number($json.stored_characters || normalized.length),\n      truncated: Boolean($json.truncated),\n      metadata\n    }\n  }\n} }];"
      },
      "id": "8c6025f9-aefd-4ca9-93ee-ac4ec7a592c0",
      "name": "Normalize Office Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1370, 860]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data",
        "options": {
          "joinPages": true,
          "keepSource": "both",
          "maxPages": 300
        }
      },
      "id": "2a42a44b-e272-4614-bad0-e0db10ac1645",
      "name": "Extract PDF Text Layer",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [650, 760]
    },
    {
      "parameters": {
        "jsCode": "const text = String($json.text || '').trim();\nconst compactLength = text.replace(/\\s+/g, '').length;\nconst pages = Number($json.numpages || 0);\nconst minimum = Math.max(80, Math.min(pages || 1, 20) * 25);\nreturn compactLength >= minimum ? [{ json: $json, binary: $binary }] : [];"
      },
      "id": "4ca224ae-0578-4135-a895-1a7fe220b3dc",
      "name": "Filter Searchable PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [890, 720]
    },
    {
      "parameters": {
        "jsCode": "const text = String($json.text || '').trim();\nconst compactLength = text.replace(/\\s+/g, '').length;\nconst pages = Number($json.numpages || 0);\nconst minimum = Math.max(80, Math.min(pages || 1, 20) * 25);\nreturn compactLength < minimum ? [{ json: $json, binary: $binary }] : [];"
      },
      "id": "31effba0-1898-45e4-a701-7ee199435831",
      "name": "Filter Scanned PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [890, 820]
    },
    {
      "parameters": {
        "jsCode": "const original = $('Normalize Telegram Input').first().json;\nconst fullText = String($json.text || '').replace(/\\r/g, '').replace(/[ \\t]+/g, ' ').replace(/ *\\n */g, '\\n').replace(/\\n{3,}/g, '\\n\\n').trim();\nconst pages = Number($json.numpages || 0);\nconst info = $json.info && typeof $json.info === 'object' ? $json.info : {};\nconst title = String(info.Title || info.title || original.file_name || '').trim();\nconst author = String(info.Author || info.author || '').trim();\nconst truncated = fullText.length > 120000 || pages > 300;\nconst extracted = fullText.slice(0, 120000);\nconst caption = String(original.normalized_text || '').trim();\nconst header = [\n  title ? `Назва документа: ${title}` : '',\n  author ? `Автор: ${author}` : '',\n  pages ? `Сторінок у PDF: ${pages}` : '',\n  truncated ? 'Примітка: для аналізу збережено перші 300 сторінок або 120000 символів.' : ''\n].filter(Boolean).join('\\n');\nconst normalized = [caption, header, extracted].filter(Boolean).join('\\n\\n').trim();\nreturn [{ json: {\n  ...original,\n  raw_text: caption || title || extracted.slice(0, 1000),\n  normalized_text: normalized,\n  supported: normalized.length > 0,\n  raw_payload: {\n    ...original.raw_payload,\n    extraction: {\n      provider: 'pdfjs',\n      status: 'text_layer',\n      pages,\n      pages_read: Math.min(pages, 300),\n      title: title || null,\n      author: author || null,\n      extracted_characters: fullText.length,\n      stored_characters: extracted.length,\n      truncated\n    }\n  }\n} }];"
      },
      "id": "5f2d96dc-3635-469f-9da8-1a6b2acd95af",
      "name": "Normalize PDF Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 720]
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "data",
        "destinationKey": "document_base64",
        "options": {"keepSource": "json"}
      },
      "id": "8cbc1c5d-581f-4660-958f-d177ed18614e",
      "name": "Read Local Document Binary",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [650, 650]
    },
    {
      "parameters": {
        "jsCode": "const original = $('Normalize Telegram Input').first().json;\nconst buffer = Buffer.from(String($json.document_base64 || ''), 'base64');\nconst extracted = buffer.toString('utf8').replace(/^\\uFEFF/, '').trim();\nconst caption = String(original.normalized_text || '').trim();\nconst normalized = [caption, extracted].filter(Boolean).join('\\n\\n').slice(0, 120000).trim();\nreturn [{ json: {\n  ...original,\n  raw_text: caption || extracted.slice(0, 1000),\n  normalized_text: normalized,\n  supported: normalized.length > 0,\n  raw_payload: { ...original.raw_payload, extraction: { provider: 'local-text', status: 'text_file', media_kind: original.media_kind, extracted_characters: extracted.length, stored_characters: normalized.length, truncated: extracted.length > 120000 } }\n} }];"
      },
      "id": "0a7aae3e-23e0-45ad-a87d-4eaa0a7a1df5",
      "name": "Extract Text Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [890, 650]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "modelId": {"__rl": true, "value": "models/gemini-3.1-flash-lite", "mode": "id"},
        "inputType": "binary",
        "binaryPropertyName": "data",
        "simplify": true,
        "options": {}
      },
      "id": "71681bd4-780e-4892-aed3-578b820ab247",
      "name": "Transcribe Voice with Gemini",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [430, 340],
      "credentials": {"googlePalmApi": {"id": "xWUoG184a9kWLGEL", "name": "Google Gemini(PaLM) Api account"}}
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {"__rl": true, "value": "models/gemini-3.1-flash-lite", "mode": "id"},
        "text": "Витягни весь видимий текст (OCR) і стисло опиши зміст зображення українською. Поверни лише корисний текст для бази знань.",
        "inputType": "binary",
        "binaryPropertyName": "data",
        "simplify": true,
        "options": {"maxOutputTokens": 2048}
      },
      "id": "bcb57cf6-3980-4118-8504-2a8ceefb080a",
      "name": "Analyze Photo with Gemini",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [430, 460],
      "credentials": {"googlePalmApi": {"id": "xWUoG184a9kWLGEL", "name": "Google Gemini(PaLM) Api account"}}
    },
    {
      "parameters": {
        "resource": "document",
        "operation": "analyze",
        "modelId": {"__rl": true, "value": "models/gemini-3.1-flash-lite", "mode": "id"},
        "text": "Проаналізуй документ будь-якою мовою. Якщо це сканований PDF, виконай OCR усіх доступних сторінок. Не вигадуй текст і факти. Поверни структурований матеріал: назва документа, мова оригіналу, коротке резюме українською, найважливіші тези українською, а потім розпізнаний зміст мовою оригіналу. Якщо частину сторінок неможливо прочитати, прямо зазнач це. Поверни лише зміст, придатний для пошуку в базі знань.",
        "inputType": "binary",
        "binaryPropertyName": "data",
        "simplify": true,
        "options": {"maxOutputTokens": 8192}
      },
      "id": "77597e52-1762-4032-a038-b50063e6673c",
      "name": "Analyze Document with Gemini",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [430, 580],
      "credentials": {"googlePalmApi": {"id": "xWUoG184a9kWLGEL", "name": "Google Gemini(PaLM) Api account"}}
    },
    {
      "parameters": {
        "jsCode": "const original = $('Normalize Telegram Input').first().json;\nconst parts = $json.content?.parts || $json.candidate?.content?.parts || [];\nconst extracted = parts.map((part) => part.text || '').filter(Boolean).join('\\n').trim()\n  || String($json.text || $json.output || '').trim();\nconst caption = String(original.normalized_text || '').trim();\nconst normalized = [caption, extracted].filter(Boolean).join('\\n\\n').slice(0, 120000).trim();\nconst isPdf = String(original.mime_type || '').toLowerCase() === 'application/pdf' || /\\.pdf$/i.test(String(original.file_name || ''));\nreturn [{ json: {\n  ...original,\n  raw_text: caption || extracted.slice(0, 1000),\n  normalized_text: normalized,\n  supported: normalized.length > 0,\n  raw_payload: {\n    ...original.raw_payload,\n    extraction: {\n      provider: isPdf ? 'gemini-pdf-ocr' : 'gemini',\n      status: isPdf ? 'ocr_fallback' : 'ai_document',\n      media_kind: original.media_kind,\n      extracted_characters: extracted.length,\n      stored_characters: normalized.length,\n      truncated: extracted.length > 120000\n    }\n  }\n} }];"
      },
      "id": "3eddd35d-c6bf-4e3b-935b-e7e030099dec",
      "name": "Normalize Extracted Media",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 460]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH owner_user AS (\n  SELECT id\n  FROM inbox.users\n  WHERE telegram_user_id = $1::bigint\n    AND status = 'active'\n  LIMIT 1\n),\ncandidate AS (\n  SELECT\n    id AS user_id,\n    encode(digest($6::text, 'sha256'), 'hex') AS content_hash\n  FROM owner_user\n  WHERE $9::boolean\n    AND nullif($6::text, '') IS NOT NULL\n),\ninserted AS (\n  INSERT INTO inbox.inbox_items (\n    user_id,\n    source,\n    source_message_id,\n    source_chat_id,\n    source_url,\n    content_type,\n    raw_text,\n    normalized_text,\n    raw_payload,\n    content_hash,\n    status\n  )\n  SELECT\n    candidate.user_id,\n    'telegram',\n    $2::text,\n    $3::text,\n    nullif($8::text, ''),\n    $4::text,\n    $5::text,\n    $6::text,\n    $7::jsonb,\n    candidate.content_hash,\n    'received'\n  FROM candidate\n  ON CONFLICT DO NOTHING\n  RETURNING id\n),\nexisting AS (\n  SELECT inbox_items.id\n  FROM inbox.inbox_items\n  JOIN owner_user ON owner_user.id = inbox_items.user_id\n  WHERE (\n      inbox_items.source = 'telegram'\n      AND inbox_items.source_message_id = $2::text\n    )\n    OR inbox_items.content_hash = encode(digest($6::text, 'sha256'), 'hex')\n  ORDER BY inbox_items.created_at DESC\n  LIMIT 1\n)\nSELECT\n  EXISTS (SELECT 1 FROM owner_user) AS authorized,\n  $9::boolean AS supported,\n  COALESCE(\n    (SELECT id FROM inserted LIMIT 1),\n    (SELECT id FROM existing LIMIT 1)\n  )::text AS item_id,\n  EXISTS (SELECT 1 FROM inserted) AS created,\n  $3::text AS source_chat_id,\n  $4::text AS content_type,\n  left($6::text, 180) AS preview,\n  $10::text AS media_kind,\n  $11::text AS file_name,\n  $12::text AS mime_type,\n  $13::bigint AS file_size,\n  $14::text AS file_id,\n  $15::text AS file_unique_id;",
        "options": {
          "queryReplacement": "={{ [ $json.telegram_user_id, $json.source_message_id, $json.source_chat_id, $json.content_type, $json.raw_text, $json.normalized_text, JSON.stringify($json.raw_payload), $json.source_url || '', $json.supported, $json.media_kind || '', $json.file_name || '', $json.mime_type || '', $json.file_size || 0, $json.file_id || '', $json.file_unique_id || '' ] }}",
          "queryBatching": "independently",
          "replaceEmptyStrings": false
        }
      },
      "id": "eab1282f-48d7-4361-b44c-a9d4159eccfb",
      "name": "Authorize and Save Inbox Item",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 3000,
      "position": [
        -180,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "384ec057-10f8-41b5-9d1b-f587c652e358",
          "name": "Inbox Agent PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $json;\nconst escapeHtml = (value) => String(value ?? '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\nlet reply;\n\nif (!row.authorized) {\n  reply = '⛔ Доступ до Inbox Agent не дозволено.';\n} else if (!row.supported) {\n  reply = 'Не вдалося витягти зміст. Підтримуються текст, посилання, голос, фото, PDF та поширені документи; архіви додамо окремо.';\n} else if (row.created) {\n  const labels = { link: 'посилання', text: 'текст', voice: 'голос', photo: 'зображення', file: 'файл' };\n  const kind = labels[row.content_type] || 'матеріал';\n  reply = `📥 Збережено ${kind} у Inbox.\\n\\n${row.preview}`;\n} else {\n  reply = `♻️ Цей матеріал уже є в Inbox.\\n\\n${row.preview}`;\n}\n\nreturn [{ json: { chat_id: row.source_chat_id, reply: escapeHtml(reply), item_id: row.item_id || null } }];"
      },
      "id": "d97da128-e4a5-49e2-ae34-dba6c0cd71cd",
      "name": "Prepare Confirmation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        100,
        0
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.reply }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "appendAttribution": false
        }
      },
      "id": "8246b1ba-c790-4dfb-879b-73902ab3f806",
      "name": "Send Capture Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 3000,
      "position": [
        380,
        0
      ],
      "credentials": {
        "telegramApi": {
          "id": "iIA8c9213PIlR1Zm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $json;\nif (!row.authorized || !row.supported || !row.created || !row.item_id) {\n  return [];\n}\nreturn [{ json: { item_id: row.item_id } }];"
      },
      "id": "9e2eef12-2b68-4395-8034-ceb9889f0bf8",
      "name": "Queue New Item for Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        100,
        180
      ]
    },
    {
      "parameters": {
        "operation": "call_workflow",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "InboxAiClassification01",
          "mode": "list",
          "cachedResultName": "Inbox — AI Classification"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "85a8f3c2-3217-476f-99b4-259eec570e62",
      "name": "Start AI Classification",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        380,
        180
      ]
    },
    {
      "parameters": {
        "operation": "call_workflow",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "InboxKnowledgeSearch01",
          "mode": "list",
          "cachedResultName": "Inbox — Hybrid Knowledge Search"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {"waitForSubWorkflow": false}
      },
      "id": "e17a211d-fc7c-4cf0-a280-cd795d214022",
      "name": "Start Hybrid Search",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [-40, 220]
    },
    {
      "parameters": {
        "jsCode": "const row = $json;\nif (!row.created || !['voice', 'photo', 'file'].includes(row.content_type)) return [];\nreturn [{ json: {\n  inbox_item_id: row.item_id,\n  kind: row.media_kind === 'document' ? 'document' : row.media_kind,\n  original_name: row.file_name,\n  mime_type: row.mime_type,\n  size_bytes: row.file_size,\n  telegram_file_id: row.file_id,\n  file_unique_id: row.file_unique_id\n} }];"
      },
      "id": "1d8704a3-e8e7-4b9b-a2ca-a5673c2a78bf",
      "name": "Queue Attachment Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [100, 320]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO inbox.attachments (inbox_item_id, kind, original_name, mime_type, size_bytes, telegram_file_id, metadata)\nVALUES ($1::uuid, $2::text, nullif($3::text, ''), nullif($4::text, ''), nullif($5::bigint, 0), nullif($6::text, ''), jsonb_build_object('telegram_file_unique_id', $7::text, 'storage', 'telegram'))\nRETURNING id::text AS attachment_id, inbox_item_id::text AS inbox_item_id, kind;",
        "options": {
          "queryReplacement": "={{ [ $json.inbox_item_id, $json.kind, $json.original_name || '', $json.mime_type || '', $json.size_bytes || 0, $json.telegram_file_id || '', $json.file_unique_id || '' ] }}",
          "queryBatching": "independently"
        }
      },
      "id": "cdf0c5e2-6970-4092-b526-5e35fa4ce193",
      "name": "Persist Attachment Metadata",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 3000,
      "position": [380, 320],
      "credentials": {"postgres": {"id": "384ec057-10f8-41b5-9d1b-f587c652e358", "name": "Inbox Agent PostgreSQL"}}
    },
    {
      "parameters": {
        "operation": "call_workflow",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "InboxObjectStorageUpload01",
          "mode": "list",
          "cachedResultName": "Inbox — Backblaze B2 Original Upload"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {"waitForSubWorkflow": false}
      },
      "id": "e8a36486-f929-47a7-ab62-e0fb2fb90a57",
      "name": "Start Original Upload",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [620, 320]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{
        "node": "Normalize Telegram Input",
        "type": "main",
        "index": 0
      }]]
    },
    "Normalize Telegram Input": {
      "main": [[
        {"node": "Pass Capture Requests", "type": "main", "index": 0},
        {"node": "Pass Web Links", "type": "main", "index": 0},
        {"node": "Pass Search Requests", "type": "main", "index": 0},
        {"node": "Pass Media Requests", "type": "main", "index": 0},
        {"node": "Pass Unsupported Media", "type": "main", "index": 0}
      ]]
    },
    "Pass Unsupported Media": {
      "main": [[{"node": "Authorize and Save Inbox Item", "type": "main", "index": 0}]]
    },
    "Pass Capture Requests": {
      "main": [[{"node": "Authorize and Save Inbox Item", "type": "main", "index": 0}]]
    },
    "Pass Web Links": {
      "main": [[{"node": "Validate Web URL", "type": "main", "index": 0}]]
    },
    "Validate Web URL": {
      "main": [[
        {"node": "Filter YouTube Link", "type": "main", "index": 0},
        {"node": "Filter Regular Web Link", "type": "main", "index": 0}
      ]]
    },
    "Filter YouTube Link": {
      "main": [[{"node": "Read YouTube Metadata and Captions", "type": "main", "index": 0}]]
    },
    "Read YouTube Metadata and Captions": {
      "main": [[{"node": "Normalize YouTube Content", "type": "main", "index": 0}]]
    },
    "Normalize YouTube Content": {
      "main": [[{"node": "Authorize and Save Inbox Item", "type": "main", "index": 0}]]
    },
    "Filter Regular Web Link": {
      "main": [[{"node": "Download Web Page", "type": "main", "index": 0}]]
    },
    "Download Web Page": {
      "main": [[{"node": "Extract Web Page Text", "type": "main", "index": 0}]]
    },
    "Extract Web Page Text": {
      "main": [[{"node": "Authorize and Save Inbox Item", "type": "main", "index": 0}]]
    },
    "Pass Search Requests": {
      "main": [[{"node": "Start Hybrid Search", "type": "main", "index": 0}]]
    },
    "Pass Media Requests": {
      "main": [[
        {"node": "Filter Voice", "type": "main", "index": 0},
        {"node": "Filter Photo", "type": "main", "index": 0},
        {"node": "Filter Document", "type": "main", "index": 0}
      ]]
    },
    "Filter Voice": {"main": [[{"node": "Download Voice", "type": "main", "index": 0}]]},
    "Filter Photo": {"main": [[{"node": "Download Photo", "type": "main", "index": 0}]]},
    "Filter Document": {"main": [[{"node": "Download Document", "type": "main", "index": 0}]]},
    "Download Voice": {"main": [[{"node": "Transcribe Voice with Gemini", "type": "main", "index": 0}]]},
    "Download Photo": {"main": [[{"node": "Analyze Photo with Gemini", "type": "main", "index": 0}]]},
    "Download Document": {"main": [[
      {"node": "Filter Local Document", "type": "main", "index": 0},
      {"node": "Filter Gemini Document", "type": "main", "index": 0},
      {"node": "Filter PDF Document", "type": "main", "index": 0},
      {"node": "Filter Office Document", "type": "main", "index": 0}
    ]]},
    "Filter Local Document": {"main": [[{"node": "Read Local Document Binary", "type": "main", "index": 0}]]},
    "Read Local Document Binary": {"main": [[{"node": "Extract Text Document", "type": "main", "index": 0}]]},
    "Extract Text Document": {"main": [[{"node": "Authorize and Save Inbox Item", "type": "main", "index": 0}]]},
    "Filter Gemini Document": {"main": [[{"node": "Analyze Document with Gemini", "type": "main", "index": 0}]]},
    "Filter Office Document": {"main": [[{"node": "Read Office Document Binary", "type": "main", "index": 0}]]},
    "Read Office Document Binary": {"main": [[{"node": "Extract Office Document Locally", "type": "main", "index": 0}]]},
    "Extract Office Document Locally": {"main": [[
      {"node": "Filter Readable Office Document", "type": "main", "index": 0},
      {"node": "Filter Visual Office Document", "type": "main", "index": 0}
    ]]},
    "Filter Readable Office Document": {"main": [[{"node": "Normalize Office Document", "type": "main", "index": 0}]]},
    "Normalize Office Document": {"main": [[{"node": "Authorize and Save Inbox Item", "type": "main", "index": 0}]]},
    "Filter Visual Office Document": {"main": [[{"node": "Analyze Document with Gemini", "type": "main", "index": 0}]]},
    "Filter PDF Document": {"main": [[{"node": "Extract PDF Text Layer", "type": "main", "index": 0}]]},
    "Extract PDF Text Layer": {"main": [[
      {"node": "Filter Searchable PDF", "type": "main", "index": 0},
      {"node": "Filter Scanned PDF", "type": "main", "index": 0}
    ]]},
    "Filter Searchable PDF": {"main": [[{"node": "Normalize PDF Text", "type": "main", "index": 0}]]},
    "Normalize PDF Text": {"main": [[{"node": "Authorize and Save Inbox Item", "type": "main", "index": 0}]]},
    "Filter Scanned PDF": {"main": [[{"node": "Analyze Document with Gemini", "type": "main", "index": 0}]]},
    "Transcribe Voice with Gemini": {"main": [[{"node": "Normalize Extracted Media", "type": "main", "index": 0}]]},
    "Analyze Photo with Gemini": {"main": [[{"node": "Normalize Extracted Media", "type": "main", "index": 0}]]},
    "Analyze Document with Gemini": {"main": [[{"node": "Normalize Extracted Media", "type": "main", "index": 0}]]},
    "Normalize Extracted Media": {
      "main": [[{"node": "Authorize and Save Inbox Item", "type": "main", "index": 0}]]
    },
    "Authorize and Save Inbox Item": {
      "main": [[
        {
          "node": "Prepare Confirmation",
          "type": "main",
          "index": 0
        },
        {
          "node": "Queue New Item for Classification",
          "type": "main",
          "index": 0
        },
        {
          "node": "Queue Attachment Metadata",
          "type": "main",
          "index": 0
        }
      ]]
    },
    "Prepare Confirmation": {
      "main": [[{
        "node": "Send Capture Confirmation",
        "type": "main",
        "index": 0
      }]]
    },
    "Queue New Item for Classification": {
      "main": [[{
        "node": "Start AI Classification",
        "type": "main",
        "index": 0
      }]]
    },
    "Queue Attachment Metadata": {
      "main": [[{"node": "Persist Attachment Metadata", "type": "main", "index": 0}]]
    },
    "Persist Attachment Metadata": {
      "main": [[{"node": "Start Original Upload", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "versionId": "c8a8a84f-f697-478b-87df-4baaf76e6c12",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
